@import url("fonts.css");
@import url("datepicker3.css");
@import url("sweetalert.css");
@import url("slick.css");
@import url("slick-theme.css");


/* common style */
body, .label, code, kbd, pre, samp {
    font-family: "나눔바른고딕", "Nanum Barun Gothic", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {color:#333}
ul, ol, li {list-style: none; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 { font-weight:400}
h2 {font-size:21px}
h5 { font-size:13px}
body { min-width:1200px; background-color:#fff;  overflow-x:auto }
code {font-size:100%;}
label {font-size:13px;}
.small, small { font-size:90%}
th { text-align:center}
.form-control { font-size:13px}
.control-label { font-size:14px}

.text-primary {
  color: #038eff;
}

.inline-block { display: inline-block;}
.w130 { width:130px}
#wrapper {overflow-x:auto }
#page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
    min-height: 100vh;
  }
#page-wrapper:before{content:""; width:1px; height:100%;position:absolute; /*background-color:#dce3e9; */background:linear-gradient(#285dbe 0, #dce3e9 180px); left:0; top:0; 
-webkit-box-shadow: 3px 1px 9px 0 rgb(80, 94, 108, 0.3);
  -moz-box-shadow: 3px 1px 9px 0 rgb(80, 94, 108, 0.3);
  box-shadow: 3px 1px 9px 0 rgb(80, 94, 108, 0.3); z-index:10}
 .wrapper-content {
    padding: 20px 10px 80px;
}
/* layout */
.navbar-static-top { }
.navbar-static-side { 
  height:100%;
 min-height:1000px;
}
.nav-header {
	padding:0;
	height:170px;
    background-color: #285dbe;
    background-image: url(../img/nav-header-title.png);	
	background-size:cover;
}
.logo-element { display:block; padding:45px 0; font-size:15px}
.logo-element span { color:#7eeeff}
.profile-element { color:#fff; text-align:center; background: url(../img/nav-header-profile.png) repeat-x left top}
.profile-element span span span { font-size:12px}
.count-info { position: relative; padding:20px 10px 20px 0; display:inline-block }
.count-info .label { min-width:10px; padding: 4px 5px; border-radius:100% }
.label-danger { background-color:#e40f14}


  .navbar-static-side {
    z-index: 2001;
    position: absolute;
    width: 220px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
.navbar-static-side .nav > li { border-bottom:1px solid #e9eef9}
.navbar-static-side .nav > li:first-child { border-bottom:0 }
.navbar-static-side .nav > li > a {
    font-weight: 600;
    padding: 14px 15px 14px 20px;
	color:#47556d;
}
.navbar-static-side .nav  > li.active > a { color:#fff}
.navbar-static-side .nav > li.active { border-left:0; background:#008aeb url(../img/bg_categoryItem.jpg) no-repeat right center }
.navbar-static-side.navbar-default .nav > li > a:hover,
.navbar-static-side.navbar-default .nav > li > a:focus {
   background:#008aeb url(../img/bg_categoryItem.jpg) no-repeat right center;
  color: white;
}
.navbar-static-side .fa.arrow:before {
  content: "\f105";
}
.navbar-static-side .metismenu .fa.arrow:before {
    content: "\f105";
}
.navbar-static-side.navbar-default .nav.nav-second-level > li.active,
.navbar-static-side.navbar-default .nav.nav-second-level > li.active a, 
.navbar-static-side.navbar-default .nav.nav-second-level > li > a:hover,
.navbar-static-side.navbar-default .nav.nav-second-level > li > a:focus {
   background:none;
   color:#337ab7
}
.navbar-static-side ul.nav-second-level { background:#eef2f6; padding-top:10px; }
.nav.nav-second-level > li > a {padding:7px 10px 7px 10px;padding-left:45px;}
body.mini-navbar .navbar-static-side .nav > li { padding:0 }
body.mini-navbar .navbar-static-side .nav > li > a {  padding: 14px 20px 14px 25px}
body.mini-navbar .navbar-static-side .nav.nav-second-level > li > a  {padding: 10px 5px}


.mini-navbar li.active .nav-second-level { left:100% }
body.mini-navbar .navbar-static-side .nav.nav-second-level > li > a { color:#fff}
body.mini-navbar .navbar-static-side.navbar-default .nav.nav-second-level > li.active a, body.mini-navbar .navbar-static-side .nav.nav-second-level > li > a:hover{color:#03c1ff}
.gray-bg, .bg-muted { background-color: #f9fafc;
}
.blue-img-bg {height:170px; background:#1267b7 url(../img/bg_contentTop.jpg)  no-repeat top right }



.blue-img-bg.page-heading h2 { margin: 64px 5px 5px 20px; }
.blue-img-bg .breadcrumb { margin:84px 15px 0 0;}
.blue-bg { background:#1267b7; height:113px; }
.page-heading h2 { margin: 15px 5px 5px 5px; color:#fff; font-size:30px; }
.breadcrumb { margin:27px 15px 0 0; background:none; text-align:right; color:#c4e6fd }
.breadcrumb .active { color:#fff}
.breadcrumb>li+li:before { padding:0 3px; font: normal normal normal 14px/1 FontAwesome; color: #c4e6fd ; content: "\f105";}





.minimalize-styl-2 { float:none}

.footer { border-top:1px solid #dce3e9;}
.footer .small { padding-top:7px; text-transform: uppercase}
.footer .small span { margin-left:20px}

.btn-top { margin-left:20px; background-color:#8c9094; color:#fff;}
.btn-top:hover { background-color:#7d848a; color:#fff}
.btn-gradient { background: linear-gradient( to right, #1566b5, #ed2129 );     border-color: #1c84c6; color:#fff }


.ibox {}
.ibox.dashboard { -webkit-box-shadow:  0px 5px 15px 1px rgba(80, 94, 108, 0.1);
  -moz-box-shadow:  0px 5px 15px 1px rgba(80, 94, 108, 0.1);
  box-shadow: 0px 5px 15px 1px rgba(80, 94, 108, 0.1);}
.ibox-content.small-box {padding:10px 20px}
.ibox .ibox-title { height:50px; padding:0;   border:1px solid #c5cfd9;}
.ibox .ibox-title.dark {  background-color:#eef2f6; }
.ibox .ibox-title h4 { display: inline-block; text-overflow: ellipsis; float: left;min-height:20px; margin: 17px 15px 7px; font-size:17px; font-weight:600; color:#203552; background: url(../img/bullet_title_square.gif) no-repeat 0 0; padding-left:25px; }
.ibox .ibox-title h5 {min-height:20px; margin: 17px 15px 7px; font-size:17px; font-weight:600; background: url(../img/bullet_title_square.gif) no-repeat 0 0; padding-left:25px; color:#203552 }
.ibox .ibox-title h6 {margin: 17px 15px 7px; font-size:13px}
.ibox .ibox-title+.ibox-content {border-top:0}
.ibox-tools { position:inherit; height:100% }
.ibox-tools a {display:inline-block; height:100%; padding:15px 20px; border-left:1px solid #c5cfd9; margin-left:0; color:#657995}
.ibox-tools2 {     display: block; float:left;vertical-align:middle; padding-top:15px;}
.ibox-content { padding:20px;  border:1px solid #c5cfd9; }
.ibox.ibox-filter .ibox-content{ padding:10px 20px}
.ibox .ibox-title .chart-button {margin:10px 20px 0 0;}

.chart-title { }
.chart-title  h5{ float:left; display: inline-block; font-size:17px; font-weight:bold; color: #203552; background: url(../img/bullet_title_square.gif) no-repeat 0 0; padding-left:25px;}
.ibox .chart-title .chart-button { margin-right:0}
.chart-button {    display: block;float: none; text-align:right}
.chart-button .select-hit { display:inline-block; width:170px; vertical-align:middle; }



/* 공통 검색 */

.search-box .form-horizontal .control-label { text-align:left }
.search-box .bootstrap-tagsinput {  border:1px solid #fff; box-shadow:none}
.search-box  .ibox .label { font-size:12px}
.search-box .control-label {float:left; }
.search-box .control-box {float:left;}
.search-box .control-label { width:100px; padding:7px 15px 0 35px;}
.search-box .control-label:first-child { padding-left:15px}
.search-box .control-box {width: calc(100% - 100px); padding:0 15px;}


.control-box-col2 { float:left;}
.search-box .control-label-full { width:100%}
.search-box .control-box-full { width:100%; padding:0 25px;}
.datesmall { float:left; width:250px;}

.col3 .filter-box-wrap  {width:33.3333337%;}
.col4 .filter-box-wrap  {width:25%;}
.col5 .filter-box-wrap  {width:16.66666667%;}
.filter-box-wrap { float:left;  padding:0 5px;}

.filter-box-wrap .filter-content .dropdown-filter {position:static}
.filter-box-wrap .filter-content .slimScrollDiv { overflow:inherit !important}
.filter-box-wrap .filter-content .dropdown-filter > .dropdown-menu {top:0; left:100%; margin-top:-6px; border-radius:3px;}
.filter-box-wrap.disable  {opacity: .5;}
.filter-box-wrap.disable .filter-box  .filter-content li{ cursor: not-allowed;}
.filter-box-wrap.disable .filter-box  .filter-content ol > li:hover{ background-color:transparent; color:inherit}
.filter-box-wrap.disable .filter-box  .filter-content ol > li:hover > a { color:inherit}
.filter-box-wrap.disable .filter-box  .filter-content li a{pointer-events: none;}
.filter-box { border:1px solid #e5e6e7}
.filter-box  .filter-title { height:50px; padding:0 10px; border-bottom:1px solid #e5e6e7; background-color:#eef2f6; vertical-align:middle}
.filter-box  .filter-title h5 {margin:0; padding-top:18px; font-weight:bold    }
.filter-box  .filter-title h5.line2 { padding-top:8px}
.filter-box  .filter-title .filter-title-option { padding-top:13px; font-weight:bold; }
.filter-box  .filter-title .filter-title-option .checkbox label, .filter-box  .filter-title .filter-title-option .radio label {font-weight:bold;}
.filter-box  .filter-content {padding:10px 0;}
.filter-box  .filter-content ol { margin:0; padding:0}
.filter-box  .filter-content ol > li { padding:5px 10px}
.filter-box  .filter-content ol > li:hover, .filter-box  .filter-content ol > li.open{ background-color:#344554; color:#fff; cursor:pointer}
.filter-box  .filter-content ol > li > a { display:inline-block; width:100%; color:inherit}
.filter-box  .filter-content ol > li:hover > a { color:#fff}
.filter-box  .filter-content ol > li > ul.dropdown-menu { background-color:#344554;}
.filter-box  .filter-content ol > li > ul > li:hover { }
.filter-box  .filter-content ol > li > ul > li > a { color:#fff}
.filter-box  .filter-content ol > li > ul > li > a:hover { background-color:transparent; color:#03c1ff}
/*.slimScrollDiv, .slimScrollDiv .scroll_content{overflow-y:hidden; overflow-x:auto !important}*/
.search-box .btn-searh-area { padding-top:20px; text-align:center; /*position:absolute; top:13px; right:30px;*/}
.detail-search-box { display:none}
/*적용필터*/
.filter_input_area {  float:left; width: calc(100% - 220px);}
.filter_btn_area { float:right; width:175px;  }
.collapse-close { position:absolute; bottm:-10px; left:50%; margin-left:-50px; width:100px; padding:2px 0; text-align:center; background-color:#4a5864; color:#fff;border-radius: 0 0 10px 10px;}
.collapse-close a {display:inline-block; width:100%;color:#fff}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline { padding-top:7px}
.ibox-filter { height:auto; }
.ibox-filter-collapse { height:60px; overflow:hidden}

.analysis-list table .analysis-title { font-weight:600}
.analysis-list table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 15px 10px;
    vertical-align: middle;
}
.analysis-list table .analysis-title .title label {margin-right:10px}

.breadcrumb-attr {font-weight:bold;font-size:16px; }
.breadcrumb-attr>li {
    display: inline-block;
}
.breadcrumb-attr>li+li:before {
    padding: 0 3px;
    font: normal normal normal 16px/1 FontAwesome;
    color: #333;
    content: "\f105";
}
.breadcrumb-attr>li:last-child {
    color: #038eff;
}
/* table */
.table.table-striped { border-top:2px solid #111; border-bottom:1px solid #111}
.table.table-form { margin-bottom:0}
.table.table-form  > thead > tr > th, .table.table-form  > tbody > tr > th, .table.table-form  > tfoot > tr > th, .table.table-form  > thead > tr > td, .table.table-form  > tbody > tr > td, .table.table-form  > tfoot > tr > td
{border-top:0}
.table.table-form  > tbody > tr > th { background-color:#eef2f6}


/* list */
.list01 li {background:url(../img/bullet_list.gif) no-repeat 0 8px; padding-left:10px;}

/* modal */
.modal-dialog {width: 800px; margin: 30px auto;}
.inmodal .modal-header { padding:10px 15px; margin-bottom:10px; text-align:left;}
.modal-header .close { margin-top:2px; font-size:30px; color:#fff;opacity:.8}
.modal-header { background-color:#4a5864; color:#fff }
.inmodal .modal-title { font-size:22px}
.modal-body { }
.modal-footer { text-align:center}
.inmodal .modal-body { background:#fff}
.input-s-xs { width: 100px;}
.modal .form-group { }
/*.modal .control-label {position:relative; padding-top:6px}
.modal .control-label:after {position:absolute; content:""; width:15px; border-top:2px solid #008aeb; top:0; left:0;} */

.chart-design-box { margin-top:20px; border: 1px solid #c5cfd9;}

#modal-report .modal-dialog {width: 1200px; margin: 30px auto;}
#modal-report .modal-header { margin-bottom:0; background-color:#243c5d; border-bottom:0 }
#modal-report .modal-header .modal-title {float:left}
#modal-report .modal-header .modal-header-button2 { float:left; margin:5px 0 0 30px}
#modal-report .modal-header .modal-header-button {    float: right;}
#modal-report .modal-body { margin-bottom:0; padding:0}
#modal-report .modal-body {background-color: #eff3f7;}
#modal-report .report-nav-wrap {position:absolute; top:0; bottom:0; left:0; width:300px; height:100%; background-color:#fff; border-right:1px solid #dce3e9;}
#modal-report .report-nav-wrap .report-nav {}
#modal-report .report-nav-wrap .nav.report-nav  > li { background-color:#008aeb; border-bottom:1px solid #fff; color:#fff; font-size:15px}
#modal-report .report-nav-wrap .nav.report-nav  > li.active { border-left:0}
#modal-report .report-nav-wrap .nav.report-nav  > li .fa.arrow {    font-size: 20px;font-weight: bold;}
#modal-report .report-nav-wrap .nav.report-nav  > li > a { color:#fff}
#modal-report .report-nav-wrap .nav.report-nav  > li .fa.arrow {    font-size: 20px;font-weight: bold;}
#modal-report .report-nav-wrap .nav.report-nav  > li > a:focus, #modal-report .report-nav-wrap .nav.report-nav  > li > a:hover {background:transparent}
#modal-report .report-nav-wrap .nav.report-nav ul.nav-second-level { padding:15px; background-color:#fff; color:#000; font-size:13px;}
#modal-report .report-nav-wrap .nav.report-nav ul label.control-label:before { display:none}
#modal-report .report-nav-wrap .nav.report-nav ul .form-control { background-color:#f9f9f9}
#modal-report .report-wrap { width:900px; height:800px;  padding:20px; float:right; overflow-y:auto }
#modal-report .report-wrap .top-info {padding:10px; background-color:#d7e2ee; border:1px solid #b9cbdf; text-align:center;}
#modal-report .report-wrap .report-container { margin-top:15px; padding:20px; background-color:#fff;      border: 1px solid #b9cbdf;   -webkit-box-shadow: 0px 5px 15px 1px rgba(80, 94, 108, 0.1);
    -moz-box-shadow: 0px 5px 15px 1px rgba(80, 94, 108, 0.1);
    box-shadow: 0px 5px 15px 1px rgba(80, 94, 108, 0.1);}}

	
/* button */
.btn-md { font-size:13px}
/* form , input */
.control-label:before {content:""; display:inline-block; width:5px; height:5px; margin-right:7px; background:url(../img/bullet_control_label.gif) no-repeat; background-size:cover; vertical-align: middle;}
.form-control, .single-line {border: 1px solid #dcdddf;}
.label-required { color:#ed232b}
select.input-sm { width:120px}
.input-xs { height:22px; line-height:22px; padding:0 10px; }



/* bootstrap checkbox */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
	padding-top:7px;
  }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

/* iCheck plugin Square skin, bule
----------------------------------- */
.i-checks {display:inline-block;}
.icheckbox_blue-skin,
.iradio_blue-skin {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../img/input-blue-skin.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_blue-skin {
    background-position: 0 0;
}
.icheckbox_blue-skin.hover {
    background-position: -24px 0;
}
.icheckbox_blue-skin.checked {
    background-position: -48px 0;
}
.icheckbox_blue-skin.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_blue-skin.checked.disabled {
    background-position: -96px 0;
}

.iradio_blue-skin {
    background-position: -120px 0;
}
.iradio_blue-skin.hover {
    background-position: -144px 0;
}
.iradio_blue-skin.checked {
    background-position: -168px 0;
}
.iradio_blue-skin.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_blue-skin.checked.disabled {
    background-position: -216px 0;
}



/* bootstrap tagsinput */
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* table */
.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th  {
    border-top: 0;
    background-color: #6589b3;
    color: #fff;
}


.chart-box { background-color:#444; width:100%; height:250px}
/* 랭킹 박스  기본*/
.rank-box { border:1px solid #ced8e3 }
.rank-box .rank-box-title { background-color:#6589b3; color:#fff; padding:9px 5px;  font-weight:bold; text-align:center; }
.rank-box .rank-box-title h5 {margin:0; font-size:14px; }
.rank-box .rank-box-content { }
.rank-box .rank-box-content ol li { padding:7px 15px; background-color:#fff; border:1px solid #f0f0f0;}
.rank-box .rank-box-content ol li:hover {  background-color: #e2effb; cursor: pointer;}
.rank-box .rank-box-content .rank-num {display:inline-block; width:18px; height:18px;  line-height:20px; margin-right:5px; border-radius:2px; text-align:center; border:1px solid #8c9094; color:#8c9094; font-weight:bold}
/* 알람/관심키워드 */
.favo-rank {}
/* 지역별 이슈 랭킹 */
.area-issue-rank {overflow:hidden}
.area-issue-rank .rank-box{  float:left;width: 19.35%; margin: 5px .324%;}
.area-issue-rank .rank-box .rank-box-title {background:#f6fafd; color:#1765b4}
.area-issue-rank .rank-box-content .rank-num {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 20px;
    border-radius: 2px;
    text-align: center;
    background-color: #8c9094;
    color: #fff;
    font-weight: bold;
}


@media (min-width: 1601px) {
	.area-issue-rank .rank-box{ width:11.8%}
}


/* 이슈 랭킹 */
.issue-rank {position:relative;  padding-bottom:20px; overflow-x:auto}
.issue-rank .issue-rank-box {float:left; margin:0 .324%}
.issue-rank-box {width:16%; background-color:#f6fafd; border:1px solid #ced8e3 }
.issue-rank-box .rank-box-title { padding:25px 5px 17px 5px; text-align:center; }
.issue-rank-box .rank-box-title h5 {margin:0; font-size:14px; color:#333; font-weight:bold}
.issue-rank-box .rank-box-content { }
.issue-rank-box .rank-box-content ol >  li { position:relative;  padding:7px 15px;}
.issue-rank-box .rank-box-content ol >  li:hover {  background-color: #e2effb; cursor: pointer;}
.issue-rank-box .rank-box-content ol >  li .dropdown-menu { left:45px}
.issue-rank-box .rank-box-content .rank-num {display:inline-block; width:18px; height:18px;  line-height:20px; margin-right:10px; border-radius:2px; text-align:center; background-color: #8c9094; color:#fff; font-weight:bold}
.issue-rank-box .rank-box-content .rank-num.rank-top {background-color:#ed232b}
.issue-rank-box .rank-box-content .rank-num.rank-middle { background-color:#1765b4}
.issue-rank-box .rank-box-content .rank-updown { float:right;width:50px; color:#919191}
.issue-rank-box .rank-box-content .rank-updown i { margin-right:5px;}

.rank-page-button { }
.rank-page-button .btn {position:absolute; top:50%;  opacity:.7}
.rank-page-button .btn-prev { left:0}
.rank-page-button .btn-next { right:0}

.issue-rank::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 px rgba(0,0,0,0.3);
	background-color:#f5f5f5;
	
}
.issue-rank::-webkit-scrollbar {
	width:7px;
	height:7px;
	background-color:#f5f5f5;
	
}
.issue-rank::-webkit-scrollbar-thumb {
	background-color:#777;
	border:1px solid #555;
	
}

@media (max-width: 1200px) {
  .issue-rank  {width:900px; }
  .issue-rank .issue-rank-width { width:1400px;}
  .issue-rank .issue-rank-box { width:216px}
  .issue-rank .issue-rank-box {margin:0 3px}
}
@media (min-width: 1201px) and (max-width: 1700px) {
	.issue-rank  {width:98% }
	.issue-rank .issue-rank-width { width:1400px;}
	.issue-rank .issue-rank-box { width:216px}
  .issue-rank .issue-rank-box {margin:0 3px}
}

.slick_demo_2 .issu-rank-box {
            margin: 0 5px;
        }

/* 지역별 이슈 */
.area-map  { height:450px;padding-left:0; }
.area-map .ibox-content{ height:430px;}
.area-map-right {height:450px;  }

.label-keyword { }
.label-keyword  .label {display: inline-block; margin-bottom:2px; font-size:12px;}
.label-keyword .btn { padding:0; font-size:100%; background-color:transparent;}
.label-keyword .label:not(.label-default) .btn.focus, .label-keyword .label:not(.label-default) .btn:focus, .label-keyword .label:not(.label-default) .btn:hover { color:#fff}
.label-keyword .btn i {font-size:11px}

/* Vote list */
.vote-item-list {    border-top: 1px solid #111;}
.vote-item {padding: 15px 25px;    border-top: 1px solid #f0f0f0}
.vote-title {
    font-size: 16px;
}
.modal-body .vote-info, .modal-body .vote-title {margin-left:0}
.vote-info { padding-top:5px}
.vote-info, .vote-info a {
    color: #777;
    font-size: 13px;
}
.vote-item.add {  margin-top:20px; min-height: 60px;border: 1px dashed #1765b4; cursor: pointer;}
.add-message {padding:10px; text-align:center; font-size:16px; color:#1765b4}

/* Tabs */
.tabs-container .panel-body {
  border: 1px solid #c5cfd9
}
.tabs-container .nav-tabs { background-color:#d3dae2; border-bottom:2px solid #1765b4}
.tabs-container .nav-tabs > li { margin-bottom:0}
.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
  border-bottom-color: transparent;
  background-color: #1765b4;
  color:#fff;
}
.nav-tabs > li > a {
    padding: 10px 25px 10px 25px;
	color:#203552;
}
.nav-tabs>li>a { margin-right:0}
.tabs-container .nav-tabs > li a:hover {
	background-color:#bfc9d4;
}



/* PAGINATIN */
.pagination>li>a, .pagination>li>span {
	 border-color: #c5cfd9;
	
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #038eff;
  border-color: #038eff;
  color: #fff;
  cursor: default;
  z-index: 2;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eef2f6;
  border-color: #c5cfd9;
}


/* 기존 홈페이지 상단 */
#header { background-image: url(../img/bg_categoryWrap.gif); background-repeat: repeat-x; }
#category_wrap { width: 1200px; margin-right: auto; margin-left: auto;font-family:Nanum Gothic; }
#clogo_wrap { height: 180px; width: 400px; overflow: hidden; float: left; }
#category_line { height: 180px; display:none }
#categoryBox { float: left; margin-top: 15px; margin-left: 18px; height: 165px; width: 782px; }
#iconDataCategory { float: left; }
.categoryList { float: left; margin: 0px; background-color: #000; height: 165px; width: 604px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; text-align: center; }
.categoryList li { display: block; width: 64px; height: 70px; float:left; margin-right:0px; }
.categoryList li a { display: table-cell; height: 72px; width: 64px; vertical-align:bottom; text-align: center; color: #FFF; font-size: 12px; text-decoration: none; border:0px solid #5d5a5a }
.categoryList li a.disable { color:#c3c3c3; }
.categoryList li a.disable:hover { background-color:#000 !important }
.categoryList li a.disable img { opacity: 0.5; }
.categoryList li a:hover { background-color:#95ba2f }
#categoryListIn li a:hover { background-color:#77663e }
.categoryList li a img { margin-bottom: 8px; }
.categoryList li a span { display: block; line-height:normal;  border:0px solid red; margin-bottom: 7px; width: 64px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; letter-spacing:-1px; }
#categoryListOut {}
#categoryListIn { display:none }

#clogo { margin-top: 51px; }
#etc_wrap { height: 46px; overflow: hidden; }
#btn_slideUp { display:block; position: relative; top: -25px; width:25px; height:25px;}
#btn_DatamapCategory, #logo_lineType { margin-top: 12px; }
/* #logo_lineType { display:none} */
#loginInfo { float: right; height: 23px; margin-top: 12px; }
#loginInfo span { font-size: 13px; color: #4c4c4c; float: left; padding-top: 3px; padding-right: 10px; }
#loginInfo span a { font-weight:bold; color: #4c4c4c; }
#menu_wrap { background-color: #000; }
#gnb { width: 1200px; height:50px; margin:0; padding: 0px; list-style:none; margin-right: auto !important; margin-left: auto !important;overflow:hidden}
#gnb li { display:block; float:left; list-style:none;font-family:Nanum Gothic; }
#gnb li a { display: block; width:239px; text-align:center; text-decoration:none; color:#FFF; font-size:20px; font-weight:bold; margin:0; padding:0; padding-top:10px; padding-bottom:12px; border-left:1px solid #5f5f5f; }
#gnb li:last-child a { width:238px; border-left:1px solid #5f5f5f; border-right:1px solid #5f5f5f }
#gnb li a:hover { background-color:#4a5259}
#gnb li a.active { background-color:#4a5259}


  