/* common style */
body, .label, code, kbd, pre, samp { font-family: "나눔고딕", "Nanum Gothic", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
body { color:#333; }
ul, ol, li {list-style: none; margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { font-weight:400}
h2 { font-size:21px; }
h5 { font-size:13px; }
body { min-width:1200px; background-color:#fff;  overflow-x:auto; }
code { font-size:100%; }
label { font-size:13px; }
.small, small { font-size:90%; }
table thead th { text-align:center; }
.form-control { padding: 6px 8px; font-size:13px; }
.control-label { font-size:14px; }

.text-primary { color: #038eff; }
.inline-block { display: inline-block; }
.pull-none { float:none !important; }
.w45 { width:45px; }
.w130 { width:130px; }
.w170 { width:170px; }
.w250 { width:250px; }
.w350 { width:350px; }
.wauto { width:auto; }
.small-info { display:inline-block; padding: 2px 4px; background-color: #F9F2F4; font-size: 90%; color: #ca4440; white-space: nowrap; border-radius: 4px;}

.ellipsis { display:inline-block; width:90%; text-overflow:ellipsis; /*white-space:nowrap;*/ word-wrap:normal; overflow:hidden; } /* TD 넓이 자동 조절 수정 20180927 여종립 */
.ellipsis2 { overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; word-wrap:break-word; line-height:1.2em; height:3.6em; }

/* button */
.btn-group.open #btn-one-value { background-color: #038eff; border-color: #038eff; color: #FFFFFF  !important; }
.btn-md { font-size:13px; }
.btn-success a { color:#fff; }

.hr-line-dashed { margin: 10px 0; border-top: 1px dashed #d1d9de; }

/* form , input */
.form-control, .single-line { border: 1px solid #dcdddf; }
.control-label:before { content:""; display:inline-block; width:5px; height:5px; margin-right:7px; background:url(../img/bullet_control_label.gif) no-repeat; background-size:cover; vertical-align: middle; }
select.input-sm { width:120px; height:30px; } /* 20180917 height 수정 여종립 */
select.select-primary { border:1px solid #038eff;} 
.input-xs { height:22px; line-height:22px; padding:0 10px; }
.input-daterange input:first-child { border-radius:0; }
.list-hit { width:200px; }
.select-hit select.input-sm,
.list-hit select.input-sm { height:30px; }


.form-group-center { width:600px; margin:0 auto; }
.form-control.share-serach{ display:inline-block; width:43%; min-width:180px; }
.form-horizontal .control-label { padding-top: 7px; }
.form-horizontal .checkbox, 
.form-horizontal .checkbox-inline, 
.form-horizontal .radio, 
.form-horizontal .radio-inline { padding-top:7px; }
/*.form-group .btn { vertical-align:top; }*/

.multi-select-search .multi-select-search { float:left; width:64%; }
.multi-select-search input[type="text"] { float:left; width:25%; margin-left:1%; }
.multi-select-search .btn { float:right; width:10%; }

@media (min-width: 768px) {
	.form-horizontal .control-label { text-align: left;}
}

/* label */
.label { font-size:88%; }
.label-white{ border:1px solid #ddd; }
.label-sm { display:inline-block; width:50px; }
.label-md { display:inline-block; width:93px; }
.label-violet,
.badge-violet { background-color: #9903ff; color: #FFFFFF; }
.label-danger { background-color:#e40f14; }
.label-required { color:#ed232b; }


/* layout */
#wrapper { overflow-x:auto; overflow-y:hidden;}
#page-wrapper { position: inherit; margin: 0 0 0 220px; min-height: 100vh; }
#page-wrapper:before{ content:""; position:absolute; left:0; top:0; width:1px; height:100%; background:linear-gradient(#285dbe 0, #dce3e9 180px); -webkit-box-shadow: 3px 1px 9px 0 rgb(80, 94, 108, 0.3); -moz-box-shadow: 3px 1px 9px 0 rgb(80, 94, 108, 0.3); box-shadow: 3px 1px 9px 0 rgb(80, 94, 108, 0.3); z-index:10; }
.wrapper-content { padding: 20px 10px 80px; }
.navbar-static-top { }
.navbar-static-side { height:100%; min-height:1000px; }
.nav-header { padding:0; height:170px; background-color: #285dbe; background-image: url(../img/nav-header-title.png); background-size:cover; }
.logo-element { display:block; padding:45px 0; font-size:15px; }
.logo-element span { color:#7eeeff; }
.profile-element { text-align:center; background: url(../img/nav-header-profile.png) repeat-x left top; }
.profile-element span span span { font-size:12px; }
.count-info { display:inline-block; position: relative; float:left; width:60px; padding:20px 10px 18px 0; border-right:1px dotted #5382d8; }
.count-info .label { min-width:10px; padding: 4px 5px; border-radius:100%; }
.count-info .btn-dropdown { position:static}
.dropdown.dropdown-messages { width:220px; background:#eef2f6; }
.dropdown.dropdown-messages li { padding: 10px 10px 3px 10px; border-top: 1px solid #ddd; }
.dropdown.dropdown-messages li:first-child { border-bottom: 1px dotted #1765b4 }
.dropdown.dropdown-messages li .icon { display:inline-block; width:15px; height:15px; line-height:16px; margin-right:5px; background:#1765b4; font-size:8px; color:#fff; text-align:center; border-radius:100%; }
.dropdown.dropdown-messages li { text-align:left; }
.dropdown.dropdown-messages .button-area { border-top:1px solid #ddd;}
.dropdown.dropdown-messages .arrow, 
.dropdown.dropdown-messages .arrow:after { position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid; }   
.dropdown.dropdown-messages .arrow { left:13px; top: -11px; border-width: 11px; border-bottom-color: #eef2f6; border-top-width: 0; }
.dropdown.dropdown-messages .arrow:after { content: ""; top:1px; left: 1px; margin-left:-10px; border-width: 10px; border-bottom-color: #eef2f6; border-top-width: 0;}


.user-info { float: right; width: 160px; padding: 15px 10px 10px 10px; text-align:left; font-size:12px; color:#c8e3f7; }
.user-info span { display:block; }
.user-info span a { text-decoration:underline; }
.user-info span i { display:inline-block; width:15px; text-align:center; }

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts { margin-left: auto; }
.navbar-static-side { position: absolute; width: 220px;  z-index: 2001; }
.navbar-static-side .nav > li { border-bottom:1px solid #e9eef9; }
.navbar-static-side .nav > li:first-child { border-bottom:0; }
.navbar-static-side .nav > li > a { font-weight: 600; padding: 14px 15px 14px 20px; color:#47556d; }
.navbar-static-side .nav > li.active > a { color:#fff; }
.navbar-static-side .nav > li.active { border-left:0; background:#008aeb url(../img/bg_categoryItem.jpg) no-repeat right center; }
.navbar-static-side.navbar-default .nav > li > a:hover,
.navbar-static-side.navbar-default .nav > li > a:focus { background:#008aeb url(../img/bg_categoryItem.jpg) no-repeat right center; color: #fff; }
.navbar-static-side .fa.arrow:before { content: "\f105"; }
.navbar-static-side .metismenu .fa.arrow:before { content: "\f105"; }
.navbar-static-side.navbar-default .nav.nav-second-level > li.active,
.navbar-static-side.navbar-default .nav.nav-second-level > li.active a, 
.navbar-static-side.navbar-default .nav.nav-second-level > li > a:hover,
.navbar-static-side.navbar-default .nav.nav-second-level > li > a:focus { background:none; color:#337ab7; }
.navbar-static-side ul.nav-second-level { background:#eef2f6; padding-top:10px; }
.nav.nav-second-level > li > a { padding:7px 10px 7px 45px; }
body.mini-navbar .navbar-static-side .nav > li { padding:0; }
body.mini-navbar .navbar-static-side .nav > li > a { padding: 14px 20px 14px 25px; }
body.mini-navbar .navbar-static-side .nav.nav-second-level > li > a  { padding: 10px 5px; }
.mini-navbar li.active .nav-second-level { left:100% }
body.mini-navbar .navbar-static-side .nav.nav-second-level > li > a { color:#fff}
body.mini-navbar .navbar-static-side.navbar-default .nav.nav-second-level > li.active a, 
body.mini-navbar .navbar-static-side .nav.nav-second-level > li > a:hover { color:#03c1ff; }

.bg-white { background:#fff; }
.gray-bg, .bg-muted { background-color: #f9fafc; }
.blue-img-bg { height:170px; background:#1267b7 url(../img/bg_contentTop.jpg)  no-repeat top right; }
.blue-img-bg.page-heading h2 { margin: 64px 5px 5px 20px; }
.blue-img-bg .breadcrumb { margin:84px 15px 0 0; }
.blue-bg.page-heading { background:#1267b7 url(../img/bg_contentTop2.jpg); height:113px; }
.page-heading h2 { margin: 15px 5px 5px 5px; color:#fff; font-size:30px; }

.breadcrumb { margin:27px 15px 0 0; background:none; text-align:right; color:#c4e6fd; }
.breadcrumb .active { color:#fff; }
.breadcrumb>li+li:before { content: "\f105"; padding:0 3px; font: normal normal normal 14px/1 FontAwesome; color: #c4e6fd ; }
.breadcrumb-attr { font-weight:bold; font-size:16px; }
.breadcrumb-attr > li { display: inline-block; }
.breadcrumb-attr > li + li:before { content: "\f105"; padding: 0 3px; font: normal normal normal 16px/1 FontAwesome; color: #333; }
.breadcrumb-attr > li:last-child { color: #038eff; }

.minimalize-styl-2 { float:none; }

.footer { border-top:1px solid #dce3e9;}
.footer .small { padding-top:7px; text-transform: uppercase; }
.footer .small span { margin-left:20px; }
.footer .btn-top { margin-left:20px; background-color:#8c9094; color:#fff; }
.footer .btn-top:hover { background-color:#7d848a; color:#fff; }

.ibox {}
.ibox.dashboard { -webkit-box-shadow: 0px 5px 15px 1px rgba(80, 94, 108, 0.1); -moz-box-shadow:  0px 5px 15px 1px rgba(80, 94, 108, 0.1); box-shadow: 0px 5px 15px 1px rgba(80, 94, 108, 0.1); }
.ibox-content.small-box { padding:10px 20px; }
.ibox .ibox-title { height:50px; padding:0; border:1px solid #c5cfd9; }
.ibox .ibox-title.dark { background-color:#eef2f6; }
.ibox .ibox-title h4 { display: inline-block; float: left; min-height:20px; margin: 17px 15px 7px; padding-left:25px; font-size:17px; font-weight:600; color:#203552; background: url(../img/bullet_title_square.gif) no-repeat 0 0; text-overflow: ellipsis; }
.ibox .ibox-title h5 { min-height:20px; margin: 17px 15px 7px; font-size:17px; font-weight:600; background: url(../img/bullet_title_square.gif) no-repeat 0 0; padding-left:25px; color:#203552; }
.ibox .ibox-title h6 { margin: 17px 15px 7px; font-size:13px; }
.ibox .ibox-title+.ibox-content { border-top:0; }
.ibox-tools { position:inherit; height:100%; }
.ibox-tools a { display:inline-block; height:100%; margin-left:0; padding:15px 20px; border-left:1px solid #c5cfd9; color:#657995; }
.ibox-tools2 { display: block; float:left; vertical-align:middle; padding-top:15px; }
.ibox-content { padding:20px; border:1px solid #c5cfd9; }
.ibox.ibox-filter .ibox-content{ padding:10px 20px; }
.ibox .ibox-title .chart-button { margin:10px 20px 0 0; }
.ibox .label { font-size:11px; }

.chart-title { }
.chart-title  h5{ float:left; display: inline-block; padding-left:25px; font-size:17px; font-weight:bold; color: #203552; background: url(../img/bullet_title_square.gif) no-repeat 0 0; }
.ibox .chart-title .chart-button { margin-right:0; }
.chart-button { display: block; float: none; text-align:right; }
.chart-button .select-hit { display:inline-block; width:170px; vertical-align:middle; }

.panels-add-box { margin-top:-10px; margin-bottom:25px; min-height: 60px; border: 1px dashed  #9dafc1; background-color: #f9fafc; cursor: pointer;}
.panels-add-box:hover { background: rgba(255, 211, 43, 0.04); }
.panels-add-box .add-message { padding:18px 15px; text-align:center; font-size:16px; color:#1765b4; font-weight:bold; }
.panels-add-box .add-message i {font-size:25px; vertical-align:middle; }
.hide-panels { display:none; }

/* 공통 검색 */
.f-nav { position:fixed; top:0px; margin-left:15px; z-index:888; }
.f-nav.search-box { background-color:rgba(167, 177, 194, 0.82); border:1px solid #A7B1C2; padding:10px; }
.btn-search-fixed { display:none; position:fixed; top:20px; right:25px; z-index:999; }
.btn-search-close { display:none; margin-top:20px; text-align:right; }

.default-search-box .ibox-title { display:none; }
.default-search-box .ibox-title + .ibox-content { border-top:1px solid #c5cfd9; }


.search-box .form-horizontal .control-label { text-align:left; }
.search-box .ibox .label { font-size:12px; }
.search-box .control-label { float:left; }
.search-box .control-box { float:left; }
.search-box .control-label { width:120px; padding:7px 15px 0 35px; }
.search-box .control-label:first-child { padding-left:15px; }
.search-box .control-box {/* width: calc(100% - 120px); padding:0 15px;*/ width:100%; margin-left:-120px; padding-left:120px; padding-right: 15px; }
.search-box .bootstrap-tagsinput { width:100%; }

.btn-detail-toggle span { display:none; }
.control-box-col2 { float:left;}
.search-box .control-label-full { width:100%; }
.search-box .control-box-full { width:100%; padding:0 25px; margin-left:0; }
.datesmall { float:left; width:250px; }

/* 리스크 분석 검색 */
.search-box .risk-search-box .btn-searh-area { padding-top:0; }
.search-box .risk-search-box .btn-searh-area .btn { height:80px; }

/*  키워드 검색 */
.keyword-search-box {}
.keyword-search-box .key-button-box { float:left; width:230px; padding:0 15px 0 0; text-align:right; }
.keyword-search-box .key-input-box { float:left; /*width: calc(100% - 230px); padding:0 15px;*/ width:100%; margin-right:-230px; padding:0 230px 0 15px; }
.keyword-search-box .key-input-box .bootstrap-tagsinput { width:100%; padding:10px	; background:#fbfbfb; }
.keyword-search-box .key-input-box .bootstrap-tagsinput input { min-width:200px; }
.keyword-search-box .key-input-box .bootstrap-tagsinput .tag { font-size:13px; }
.keyword-search-box .key-input-box-full { width:100%; padding:0 15px;}
.keyword-detail-box { display:none; }

/* 공통검색 필터 */
.col2 .filter-box-wrap { width:50%; }
.col3 .filter-box-wrap { width:33.3333337%; }
.col4 .filter-box-wrap { width:25%; }
.col5 .filter-box-wrap { width:20%; }
.col6 .filter-box-wrap { width:16.66666667%; }
.filter-box-wrap { float:left; padding:0 5px; }
.filter-box-wrap .filter-content li a span { display:inline-block; width:100%; }
.filter-box-wrap .filter-content .slimScrollDiv { overflow:inherit !important; }
/*.filter-box-wrap .filter-content .dropdown-filter {position:static}
.filter-box-wrap .filter-content li a span { display:inline-block; width:100%}
.filter-box-wrap .filter-content .slimScrollDiv { overflow:inherit !important}
.filter-box-wrap .filter-content .dropdown-filter > .dropdown-menu {top:0; left:30%; margin-top:-6px; border-radius:3px;}*/
.filter-box-wrap.disable  { opacity: .5; }
.filter-box-wrap.disable .filter-box .filter-content li { cursor: not-allowed; }
.filter-box-wrap.disable .filter-box .filter-content ol > li:hover { background-color:transparent; color:inherit; }
.filter-box-wrap.disable .filter-box .filter-content ol > li:hover > a { color:inherit; }
.filter-box-wrap.disable .filter-box .filter-content li a { pointer-events: none; }
.filter-box { border:1px solid #e5e6e7; }
.filter-box .filter-title { height:50px; padding:0 10px; border-bottom:1px solid #e5e6e7; background-color:#eef2f6; vertical-align:middle; }
.filter-box .filter-title h5 { margin:0; padding-top:18px; font-weight:bold; }
.filter-box .filter-title h5.line2 { padding-top:8px; }
.filter-box .filter-title .filter-title-option { padding-top:15px; font-weight:bold; }
.filter-box .filter-title .filter-title-option .checkbox label, 
.filter-box .filter-title .filter-title-option .radio label { font-weight:bold; }
.filter-box .filter-content { padding:10px 0; }
.filter-box .filter-content ol { margin:0; padding:0; }
.filter-box .filter-content ol > li {  }
.filter-box .filter-content ol > li:hover, 
.filter-box .filter-content ol > li.open { background-color:#344554;; color:#fff; cursor:pointer; }
/*.filter-box .filter-content ol > li > a { display:inline-block; width:100%; height:100%; padding:5px 10px; color:#333; }
.filter-box .filter-content ol > li:hover > a { color:#fff; }*/
.filter-box .filter-content ol > li > button.btn-dropdown { float:right; /*position: absolute; right: 20px;top: 4px;*/margin:4px 10px 0 0; padding:2px 5px 0px 5px; font-size: 12px; color: #fff; background:#03c1ff; border-color: transparent; }
.filter-box .filter-content ol > li > a.open.btn-dropdown { color:#fff; }
.filter-box .filter-content ol > li > span { display:inline-block; /*width:100%;*/ padding:5px 10px; }
.filter-box .filter-content ol > li > .dropdown { background-color:#344554; }
.filter-box .filter-content ol > li > .dropdown > ul > li:hover { }
.filter-box .filter-content ol > li > .dropdown > ul > li > a { display: block; margin: 4px; padding: 3px 20px; line-height: 25px; text-align: left; font-weight: normal; color:#fff; clear: both; }
.filter-box .filter-content ol > li > .dropdown > ul > li > a:hover { background-color:transparent; color:#03c1ff; }
.filter-box .filter-content .dropdown-filter .dropdown { top:inherit; left:100%; width:140px; margin-top:-40px; border-radius:3px; }
.filter-box .filter-content .dropdown-filter { position:static; }
.filter-box .filter-content .dropdown-filter > span { /* width: calc(100% - 32px); width:100%;*/ margin-right:-32px; padding-right:32px; }
.filter-box-wrap .btn-dropdown.open, 
.filter-box-wrap .btn-dropdown.open:hover {}
.filter-box-wrap:last-child .filter-box .filter-content .dropdown-filter > .dropdown{ left:inherit; right:50px; }

/* weekly 이슈 키워드 순위 - 20181128 추가 */
.filter-box .filter-title.active {background-color:#1765b4; color:#FFF;}
.filter-box .filter-content ol > li > span.num {float:left; margin:5px 10px; padding:0; width:20px; height:18px; line-height:18px; border-radius:2px; text-align:center; background:#8c9094 url(../img/no_bg.png)no-repeat 100% 0; color:#fff; font-size:11px;}
.filter-box .filter-content ol > li > span.rank-top {background-color:#ed232b;}
.filter-box .filter-content ol > li > span.rank-middle {background-color:#1765b4;}
.weekly_keyword {margin:20px;}
.weekly_keyword span {background:#1765b4; padding:20px; font-size:30px; line-height:30px; color:#FFF; font-weight:bold; border-radius:5px;}
.weekly_keyword span.keyword {color:#fffc00; padding-left:0;}
.weekly_date {padding:20px 30px; text-align:right;}
.weekly_date p {font-size:16px; font-weight:bold;}

/*.slimScrollDiv, .slimScrollDiv .scroll_content{overflow-y:hidden; overflow-x:auto !important}*/
.search-box .btn-searh-area { padding-top:20px; text-align:center; /*position:absolute; top:13px; right:30px;*/}
.search-box .detail-search-box { display:none; margin-top:15px; }

/* 적용 필터 */
.ibox-filter { height:auto; }
.ibox-filter .filter_input_area { float:left; width:100%; /*width: calc(100% - 220px);*/ margin-right:-220px; padding-right:220px; }
.ibox-filter .filter_btn_area { float:right; }
.ibox-filter .collapse-close { position:absolute; bottm:-10px; left:50%; width:100px; margin-left:-50px; padding:2px 0; text-align:center; background-color:#4a5864; color:#fff; border-radius: 0 0 10px 10px; }
.ibox-filter .collapse-close a { display:inline-block; width:100%; color:#fff; }
.ibox-filter .bootstrap-tagsinput { border:1px solid #fff; box-shadow:none; }
.ibox-filter .control-label.label-bg-none:before { display:none; }
.ibox-filter .control-label { float:left; width:100px; padding:7px 15px 0 35px; }
.ibox-filter .control-label:first-child { padding-left:15px; }
.ibox-filter .control-box { float:left;/* width: calc(100% - 100px); padding:0 15px; */ width:100%; margin-left:-100px; padding:0 15px 0 100px;} 
.ibox-filter-collapse { height:40px; overflow:hidden; }

/* list */
.list01 li { padding-left:10px; background:url(../img/bullet_list.gif) no-repeat 0 8px; vertical-align:middle; }
.list01 li span.name { padding-top:4px; }
.list02 li { padding:5px 0; }
.list02 li span.num { display:inline-block; width:20px; height:20px; line-height:22px; margin-right:10px; border-radius:2px; text-align:center; background-color: #8c9094; color:#fff; font-weight:bold; border-radius:100%; }

.reply-list .list01 li { padding:4px 5px 4px 10px }
.reply-list .list01 .btn-xs { margin-top:-4px; }	

/* modal */
.modal-dialog { width: 800px; margin: 30px auto; }
.inmodal .modal-header { padding:10px 15px; margin-bottom:10px; text-align:left; }
.modal-header .close { margin-top:2px; font-size:30px; color:#fff; opacity:.8; }
.modal-header { background-color:#4a5864; color:#fff; }
.inmodal .modal-title { font-size:22px; }
.modal-body { }
.modal-footer { text-align:center; }
.inmodal .modal-body { background:#fff; }
.input-s-xs { width:100px; }
.input-auto { width:auto; }
.modal .form-group { }
.modal .bootstrap-tagsinput .tag { font-size:12px; }
#modal-widget-cate .modal-dialog { width:500px; }
#modal-subject .modal-dialog { margin:200px auto; }
#modal-data .modal-dialog { width:900px; }
#modal-data .modal-dialog .table-responsive { height:350px; }
#modal-data .modal-dialog .table-responsive table th { min-width:60px; word-break: keep-all; }
#modal-data .modal-dialog .table-responsive table td { min-width:60px; }

/*.modal .control-label {position:relative; padding-top:6px}
.modal .control-label:after {position:absolute; content:""; width:15px; border-top:2px solid #008aeb; top:0; left:0;} */

.chart-design-box { margin-top:20px; height:250px; border: 1px solid #c5cfd9; overflow:hidden; }
.chart-design-box .rank-box * { font-size:3px; }
.chart-design-box .area-issue-rank .rank-box { width:24%; }
.chart-design-box .rank-box .rank-box-content ol { min-height:60px; }
.chart-design-box .rank-box .rank-box-content ol > li { padding:1%; }
.chart-design-box .area-issue-rank .rank-box-content .rank-num { width:12px; height:12px; line-height:12px; margin-right:2px; }

/* 보고서 modal */
#modal-report .modal-dialog { width: 1200px; margin: 30px auto;}
#modal-report .modal-header { margin-bottom:0; background-color:#243c5d; border-bottom:0; }
#modal-report .modal-header .modal-title { float:left; }
#modal-report .modal-header .modal-header-button2 { float:left; margin:5px 0 0 30px; }
#modal-report .modal-header .modal-header-button { float: right; }
#modal-report .modal-body, 
#modal-report-preview .modal-body { margin-bottom:0; padding:0; background-color: #eff3f7; }
#modal-report .report-nav-wrap { position:absolute; top:0; bottom:0; left:0; width:300px; height:100%; background-color:#fff; border-right:1px solid #dce3e9; }
#modal-report .report-nav-wrap .report-nav {}
#modal-report .report-nav-wrap .nav.report-nav ul.nav-second-level { padding:15px; background-color:#fff; color:#000; font-size:13px; }
#modal-report .report-nav-wrap .nav.report-nav ul label.control-label:before { display:none; }
#modal-report .report-nav-wrap .nav.report-nav ul .form-control { background-color:#f9f9f9; }
#modal-report .report-nav-wrap .nav.report-nav ul.btn-html-box .btn { text-align:left; background-color:#eee; }
#modal-report .report-nav-wrap .nav.report-nav > li { background-color:#008aeb; border-bottom:1px solid #fff; color:#fff; font-size:15px; }
#modal-report .report-nav-wrap .nav.report-nav > li.active { border-left:0; }
#modal-report .report-nav-wrap .nav.report-nav > li .fa.arrow { font-size: 20px; font-weight: bold; }
#modal-report .report-nav-wrap .nav > li > a { color:#fff; }
#modal-report .report-nav-wrap .nav.report-nav > li > a:focus, 
#modal-report .report-nav-wrap .nav.report-nav > li > a:hover { background:transparent; }
#modal-report .report-nav-wrap .nav.report-nav > li .widget-nav-button { display:none; position:absolute; left:100px; top:14px; color:#333; }
#modal-report .report-nav-wrap .nav.report-nav > li .widget-nav-button > .form-control { display:inline-block; width:auto;}
#modal-report .report-nav-wrap .nav.report-nav > li .widget-nav-button > select.form-control { height:21px; padding: 1px 5px; border-radius:50px; background: #1765b4; color: #fff; border: transparent; }
#modal-report .report-nav-wrap .nav.report-nav .dropdown.search-box { top: 160%; left:-100px; width:300px; padding: 10px; background-color: #eee; }
#modal-report .report-nav-wrap .nav.report-nav .dropdown.search-box .form-group { margin-bottom:10px; }
#modal-report .report-nav-wrap .nav.report-nav ul.nav-second-level.widget-list { padding:15px 0; }
.search-result { height:50px; padding:5px 15px 15px 15px; text-align:center; color:#888;}
.search-result span { margin:0 3px; padding:5px; background-color:#eee; font-size:11px; word-break:keep-all; border-radius:50px; }
.widget-list .slimScrollDiv { padding:0 20px; }
.widget-list .col-xs-6 { padding-left:5px; padding-right:5px; }
.widget-list .widget-box h5 { font-size:11px; }
.widget-list .widget-box .text-muted { font-size:9px; }
.widget-list .widget-box { margin-bottom:10px; padding:10px; }

#modal-report .report-wrap, 
#modal-report-preview .report-wrap { float:right; width:900px; height:800px; padding:20px; overflow-y:auto; }
#modal-report .report-wrap .top-info { padding:10px; background-color:#d7e2ee; border:1px solid #b9cbdf; text-align:center; }
#modal-report .report-wrap .report-container, 
#modal-report-preview .report-wrap .report-container { margin-top:15px; padding:20px; background-color:#fff; border: 1px solid #b9cbdf; overflow:hidden; -webkit-box-shadow: 0px 5px 15px 1px rgba(80, 94, 108, 0.1); -moz-box-shadow: 0px 5px 15px 1px rgba(80, 94, 108, 0.1); box-shadow: 0px 5px 15px 1px rgba(80, 94, 108, 0.1); }
/* 보고서 컨텐츠 영역 */
.report-wrap .report-container .content-box { padding:5px}
.report-wrap .report-container .col1 { width:100%; clear:both; }
.report-wrap .report-container .col2 { float:left; width:50%; }
.report-wrap .report-container .content-box > div{ position:relative; padding:5px; border:1px dashed #bbb; vertical-align:middle; }
.report-wrap .report-container .content-box > div:hover { cursor:pointer; }
.report-wrap .report-container .content-box > div .placeholder { text-align:center; color:#b5b5b5; font-size:1.5em; }
.report-wrap .report-container .col-option { position:absolute; bottom:0; left:0; background:rgba(0, 0, 0, 0.5); }
.report-wrap .report-container .col-option .btn { padding:2px 4px; background:transparent; color:#fff; font-size:12px; }
.report-wrap .report-container .col-option .btn.active, 
.report-wrap .report-container .col-option .btn:hover { background-color:#111; color:#ffc703; }
.report-wrap .report-container .col-option .btn:last-child { border-left:1px solid #bbb; }
.report-wrap .report-container .btn-option { position:absolute; top:0; right:0; text-align:right; }
.report-wrap .report-container .btn-option .btn { display:block; float:none; width:100%; padding:2px 4px; background:rgba(224, 224, 224, 0.5); font-size:12px; border-radius:0; }
.report-wrap .report-container .btn-option .btn.active, 
.report-wrap .report-container .btn-option .btn:hover { color:none; background-color:#ddd; }
.report-wrap .report-container .btn-option.bg-black { }
.report-wrap .report-container .btn-option.bg-black .btn { background:rgba(0, 0, 0, 0.7); text-align:right; color:#fff; }
.report-wrap .report-container .btn-option.bg-black .btn:hover { background-color:#111; }
.report-wrap .report-container .btn-option.bg-black .btn.text-danger { color:#ffb7b7; }
.report-wrap .report-container .btn-option.bg-black .btn.text-success { color: #caffca; }
.report-wrap .report-container .btn-option.bg-black .btn.text-primary { color: #b8dfff; }
/*  보고서 미리보기 */
#modal-report-preview .modal-dialog { width:900px; }
#modal-report-preview .modal-body { padding:0; }
#modal-report-preview .report-wrap { float:none; }
#modal-report-preview .report-wrap .report-container .content-box > div { border:0; }
#modal-report-preview .modal-header { margin-bottom:0; border-bottom:0; }
#modal-report-preview.inmodal .modal-header { padding:3px 15px; }
#modal-report-preview .report-wrap .report-container { margin-top:0; }

.preview-img-box { padding:15px; border: 1px solid #dcdddf; }
.preview-box  { min-height:200px; height:100%; }
.preview-box iframe { width:100%; height:400px; border:0; }

/* 보유문서보기 */
.view-box-header  h2{ margin-top:0; padding-bottom:10px; border-bottom:1px solid #111; font-size:18px; }
.view-box-header .view-box-tool { color:#777; }
.view-box-content { line-height:150%; }

.legend { display:inline-block; width:65px; padding:5px; text-align:center; color:#fff; }
.legend.legend-low { background-color:#bbb; }
.legend.legend-middle { background-color:#ffc703; }
.legend.legend-high { background-color:#03c1ff; }
.legend.legend-veryhigh { background-color:#00bf00; }


/* 키워드 등록 폼 */
.form-keyword-add { margin-bottom:10px; padding:10px; background-color: #eef2f6; border: 1px solid #c5cfd9; }
.form-keyword-add input.form-control { width:45px; }
.form-keyword-add select.form-control { width:75px; }
.form-keyword-add td h6 { margin-bottom:5px; font-weight:bold; font-size:13px; }
.form-keyword-add td:last-child { vertical-align:middle; }
/*div.dropdown-menu.user-list { }
div.dropdown-menu.user-list ul {padding:10px }
div.dropdown-menu.user-list ul li {margin:5px 0;  padding-bottom:7px;border-bottom:1px solid #ddd}
div.dropdown-menu.user-list ul li:last-child { border-bottom:0}
div.dropdown-menu.user-list h5 {margin:0; padding:10px;background-color:#1765b4; color:#fff; font-size:12px; font-weight:bold;}
*/
.al-add-box { display:none; margin-top:5px; overflow:hidden; }
.al-add-box label { float:left; width:12%; padding-top:7px; font-weight:normal; }
.al-add-box .control-box { float:left; width:85%; }

/* self dropdown */
.btn-dropdown{ position:relative; }
.btn-dropdown.btn-white.open, 
.btn-dropdown.btn-white.open:hover { background-color:#1765b4; color:#fff; }
.btn-dropdown.btn-warning.open, 
.btn-dropdown.btn-warning.open:hover { background-color:#ffb602; color:#fff; }
.dropdown { display:none; position:absolute; top:100%; left:0; padding:0; float:left; min-width:160px; background-color:#fff; border:medium none; border-radius:3px; box-shadow:0 0 3px rgba(86, 96, 117, 0.7); font-size:12px; list-style:none outside none; text-shadow:none; z-index: 1000;}   
.btn-dropdown:hover .dropdown { display:block; }
.dropdown .close{ position:absolute; top:7px; right:5px; color:#fff; font-weight:bold; opacity: 1; }
.dropdown.user-list ul { padding:5px 10px; }
.dropdown.user-list ul li { margin:5px 0;  padding-bottom:7px; border-bottom:1px solid #ddd; }
.dropdown.user-list ul li:last-child { border-bottom:0; }
.dropdown.user-list h5 { margin:0; padding:10px; background-color:#1765b4; color:#fff; font-size:12px; font-weight:bold; }
.dropdown .my-keyword-list ol li { padding:0 10px 3px 10px; border-bottom:1px solid #ddd; }
.dropdown .my-keyword-list ol li label { font-size:12px; }


.h2-tools .checkbox.checkbox-inline { padding-top:0; }
.ibox-tools2 .checkbox.checkbox-inline { padding-top:2px; }


/* bootstrap checkbox */
.checkbox { padding-left: 20px; }
.checkbox label { display: inline-block; vertical-align: middle; position: relative; padding-left: 5px; }
.checkbox label::before { content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after { display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; top: 0; margin-left: -20px; padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555555; }
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] { opacity: 0; z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after { font-family: "FontAwesome"; content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label { opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before { background-color: #eeeeee; cursor: not-allowed; }
.checkbox.checkbox-circle label::before { border-radius: 50%; }
.checkbox.checkbox-inline { margin-top: 0; padding-top:7px; }
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before { background-color: #337ab7; border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after { color: #fff; }
.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before { background-color: #d9534f; border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after { color: #fff; }
.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before { background-color: #5bc0de; border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after { color: #fff; }
.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before { background-color: #f0ad4e; border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after { color: #fff; }
.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before { background-color: #5cb85c; border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after { color: #fff; }
.radio { padding-left: 20px; }
.radio label { display: inline-block; vertical-align: middle; position: relative; padding-left: 5px; }
.radio label::before { content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 50%; background-color: #fff; -webkit-transition: border 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out; transition: border 0.15s ease-in-out; }
.radio label::after { display: inline-block; position: absolute; content: " "; width: 11px; height: 11px; left: 3px; top: 3px; margin-left: -20px; border-radius: 50%; background-color: #555555; -webkit-transform: scale(0, 0); -ms-transform: scale(0, 0); -o-transform: scale(0, 0); transform: scale(0, 0); -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] { opacity: 0; z-index: 1; }
  .radio input[type="radio"]:focus + label::before { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after { -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label { opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before { cursor: not-allowed; }
.radio.radio-inline { margin-top: 0; }
.radio-primary input[type="radio"] + label::after { background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before { border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after { background-color: #337ab7; }
.radio-danger input[type="radio"] + label::after { background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before { border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after { background-color: #d9534f; }
.radio-info input[type="radio"] + label::after { background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before { border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after { background-color: #5bc0de; }
.radio-warning input[type="radio"] + label::after { background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before { border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after { background-color: #f0ad4e; }
.radio-success input[type="radio"] + label::after { background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before { border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after { background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after { font-family: 'FontAwesome'; content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before { color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after { color: #fff; }

/* iCheck plugin Square skin, bule
----------------------------------- */
.i-checks, .i-checks-d {display:inline-block;}
.icheckbox_blue-skin,
.iradio_blue-skin { display: inline-block; *display: inline; vertical-align: middle; margin: 0; padding: 0; width: 22px;  height: 22px; background: url(../img/input-blue-skin.png) no-repeat; border: none; cursor: pointer; }

.icheckbox_blue-skin { background-position: 0 0; }
.icheckbox_blue-skin.hover { background-position: -24px 0; }
.icheckbox_blue-skin.checked { background-position: -48px 0; }
.icheckbox_blue-skin.disabled { background-position: -72px 0; cursor: default; }
.icheckbox_blue-skin.checked.disabled { background-position: -96px 0; }

.iradio_blue-skin { background-position: -120px 0; }
.iradio_blue-skin.hover { background-position: -144px 0; }
.iradio_blue-skin.checked { background-position: -168px 0;}
.iradio_blue-skin.disabled { background-position: -192px 0; cursor: default; }
.iradio_blue-skin.checked.disabled { background-position: -216px 0; }
.icheckbox_blue-skin2,
.iradio_blue-skin2 { display: inline-block;  *display: inline;  vertical-align: middle; margin: 0; padding: 0; width: 17px; height: 17px; background: url(../img/input-blue-skin2.png) no-repeat; border: none; cursor: pointer; }
.icheckbox_blue-skin2 { background-position: 0 0; }
.icheckbox_blue-skin2.hover { background-position: -18px 0; }
.icheckbox_blue-skin2.checked { background-position: -26px 0; }
.icheckbox_blue-skin2.disabled { background-position: -54px 0; cursor: default; }
.icheckbox_blue-skin2.checked.disabled { background-position: -72px 0; }

.iradio_blue-skin2 { background-position: -90px 0; }
.iradio_blue-skin2.hover { background-position: -108px 0; }
.iradio_blue-skin2.checked { background-position: -126px 0; }
.iradio_blue-skin2.disabled { background-position: -144px 0; cursor: default; }
.iradio_blue-skin2.checked.disabled { background-position: -162px 0; }

/* bootstrap tagsinput */
.bootstrap-tagsinput { background-color: #fff; border: 1px solid #dcdddf; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); display: inline-block; padding: 4px 6px; color: #555; vertical-align: middle; max-width: 100%; line-height: 22px; cursor: text; }
.bootstrap-tagsinput input { border: none; box-shadow: none; outline: none; background-color: transparent; padding: 0 6px; margin: 0; width: auto; }
.bootstrap-tagsinput .tag { font-size:12px; }
.bootstrap-tagsinput.form-control input::-moz-placeholder { color: #777; opacity: 1; }
.bootstrap-tagsinput.form-control input:-ms-input-placeholder { color: #777; }
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder { color: #777; }
.bootstrap-tagsinput input:focus { border: none; box-shadow: none; }
.bootstrap-tagsinput .tag { margin-right: 2px; }
.bootstrap-tagsinput .tag [data-role="remove"] { margin-left: 8px; cursor: pointer; }
.bootstrap-tagsinput .tag [data-role="remove"]:after { content: "x"; padding: 0px 2px; }
.bootstrap-tagsinput .tag [data-role="remove"]:hover { box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active { box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

/* table */
.table {}
.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th  { border-top: 0; background-color: #6589b3; color: #fff; }
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td,
.table > tbody > tr > td, 
.table > tfoot > tr > td { vertical-align:middle; }
.table > tbody > tr.active > td,
.table > tbody > tr.active > th, 
.table > tbody > tr > td.active, 
.table > tbody > tr > th.active, 
.table > tfoot > tr.active > td, 
.table > tfoot > tr.active > th, 
.table > tfoot > tr > td.active, 
.table > tfoot > tr > th.active, 
.table > thead > tr.active > td, 
.table > thead > tr.active > th, 
.table > thead > tr > td.active, 
.table > thead > tr > th.active { background:#e2effb; }
.table.table-striped { border-top:2px solid #111; border-bottom:1px solid #111; }
.table.table-form { margin-bottom:0; }
.table.table-form  > thead > tr > th, 
.table.table-form  > tbody > tr > th, 
.table.table-form  > tfoot > tr > th, 
.table.table-form  > thead > tr > td, 
.table.table-form  > tbody > tr > td, 
.table.table-form  > tfoot > tr > td { border-top:0; }
.table.table-form  > tbody > tr > th { background-color:#eef2f6; }
.table.table-striped a:not(.btn) { color:#333; }

.table.rank-table > thead > tr > th { background:#6589b3; color:#fff;}
.table.rank-table > thead > tr > th { border:1px solid #5a6e86}


.analysis-list table tr td { padding: 15px 10px; border-top: none; background-color:#fff; border-bottom: 1px solid #e7eaec; vertical-align: middle; }
.analysis-list table .analysis-title { font-weight:600; }
.analysis-list table .analysis-title .title { position:relative; }
.analysis-list table .analysis-title .title label { margin-right:10px; }


/******** 차트 ******************
 - 랭킹 
 - 상관관계 분석 계수
 
***************************/

/* 차트 출력 전  */
.chart-before { padding:50px 20px; text-align:center; font-size:15px; color:#6689b3; border: 1px dotted #c5cfd9; }
.chart-before .big-icon { color:#c5cfd9; }
.chart-box { width:100%; height:250px; background-color:#444; }
/* 차트 no data */
.chart-nodata { position:absolute; left:50%; top:20%; width:60%; margin-left:-30%; padding:20px 10px; background: rgba(255, 255, 255, 0.4); color:#203351; text-align:center; font-weight:bold; }
.chart-nodata img { width:15%; }
.chart-nodata p { margin-top:10px; margin-bottom:0; }
/* 랭킹 박스  기본*/
.rank-box { background:#fff; border:1px solid #ced8e3; }
.rank-box .rank-box-title { padding:9px 5px; background-color:#6589b3; color:#fff; font-weight:bold; text-align:center; }
.rank-box .rank-box-title.bg-primary { background-color: #038eff; }
.rank-box .rank-box-title.bg-danger { background-color: #ed232b; }
.rank-box .rank-box-title h5 { margin:0; font-size:107.7%; }
.rank-box .rank-box-content { }
.rank-box .rank-box-content ol > li { position:relative; padding:10px 12px; background-color:#fff; border-bottom:1px solid #f0f0f0; } /*20180917 수정 여종립 */
.rank-box .rank-box-content ol > li.gubun {background:#f4f4f4;}/* 20170917 추가 여종립 */
.rank-box .rank-box-content ol > li.end {border-bottom:0;}
.rank-box .rank-box-content ol > li:hover { background-color: #e2effb; cursor: pointer; }
.rank-box .rank-box-content ol > li span, .rank-keyword .ellipsis{vertical-align:middle; }
.rank-box-content ol > li .rank-keyword { display:inline-block; /* width: calc(100% - 28px);*/ width:100%; margin-left:-28px; padding-left:28px; }
.rank-box-content ol > li .rank-keyword .ellipsis { width:95%; }
.rank-box-content ol li a { color:#333; }
.rank-box-content ol li .dropdown-menu a,
.rank-box-content ol li .dropdown-menu a:focus,
.rank-box-content ol li .dropdown-menu a:hover { color: #333; }

/* 민원포커스 주요 이슈 TOP 3 랭킹 추가 - 20181005 여종립 */
.arrRight {float:right; margin-top:-18px;}

.rank-box-content ol > li .dropdown-menu { left:45px; }
li.key-load { border:1px solid #1765b4;  background-color: #c6dbef; }
.issue-rank-box .rank-box-content ol li.key-load:hover >  a { color:#fff; }
.issue-rank-box .rank-box-content ol > li.key-load:hover { background-color: #6c99c3; color:#fff; }
.issue-rank-box .rank-box-content ol > li.no-data { padding:38px 0; }
.rank-box-content .no-data { background-color:#fff; text-align:center; }
.rank-box-content .no-data img { display:inline-block; width:20px; margin-right:5px; }


.num-st01 .rank-num { display:inline-block; width:18px; height:18px; line-height:20px; margin-right:10px; border-radius:2px; text-align:center; background:#8c9094 url(../img/no_bg.png)no-repeat 0 0; color:#fff; font-size:11px;}/* 20180917 수정 여종립 */
.num-st01 .rank-num.rank-top { background-color:#ed232b; }
.num-st01 .rank-num.rank-middle { background-color:#1765b4; }
.rank-box-content ol.num-st01 > li .rank-keyword, 
.rank-box-content ol.num-st02.updown > li .rank-keyword { /* width: calc(100% - 82px);  */ width:100%; margin-left:-82px; padding-left:82px; }
.num-st01 .rank-keyword { display:inline-block; /* width: calc(100% - 82px);  */ width:100%; margin-left:-82px; padding-left:82px; }
.num-st01 .rank-updown { display:inline-block; width:53px; color:#919191; letter-spacing:-1px }
.num-st01 .rank-updown i { margin-right:5px;}
.num-st02 .rank-num { display:inline-block; width:18px; height:18px; line-height:20px; margin-right:5px; border-radius:2px; text-align:center; background:#8c9094 url(../img/no_bg.png)no-repeat 0 0; color:#fff; font-size:11px;} /*20180917 수정 여종립 */
.num-st02 .rank-keyword { /*width: calc(100% - 18px);*/  }
.num-st03 .rank-num { display: inline-block; width: 18px; height: 18px; line-height: 20px; margin-right:10px; border-radius: 2px; text-align: center; background-color: #8c9094; color: #fff; font-weight: bold; }
.num-st03 li:nth-child(n+6) .rank-num { background-color:#b9bec3; }

.count-chu .num-st03 .rank-keyword { width:100%; margin-left:-148px; padding-left:148px;   }
.count-chu .num-st03 .rank-updown { display:inline-block; width:120px; letter-spacing:-1px }



/* 알람/관심키워드 */
.favo-rank {}
.favo-rank .rank-box .rank-box-content ol > li  { } 
/* 시그널 키워드 분석 */
.signal-rank-wrap { padding:0 10px; }
.signal-rank { float:left; width:50%; padding:0 5px; }
.signal-rank .rank-box-title.type01{ background-color:#0053a6; }
.signal-rank .rank-box-title.type02 { background-color:#026eda; }
.signal-rank .rank-box-title.type03 { background-color:#0089cf; }
.signal-rank .rank-box-title.type04 { background-color:#2982ab; }


/* 지역별 이슈 랭킹 */
.area-issue-rank {}
.area-issue-rank::after { content: ''; display: table; clear: both; }
.area-issue-rank .rank-box{ float:left; width: 19.35%; margin: 5px .324%; }
.area-issue-rank .rank-box .rank-box-title { background:#f6fafd; color:#1765b4; }
.area-issue-rank .rank-box-content .rank-num { display: inline-block; width: 18px; height: 18px; margin-right:10px; line-height: 20px; border-radius: 2px; text-align: center; background-color: #8c9094; color: #fff; font-weight: bold; }
.area-issue-rank.col4 .rank-box { width:24.35%; }
/* 이슈 랭킹 */
.issue-rank { position:relative; padding-bottom:20px; }
.issue-rank .issue-rank-box { float:left; margin:0 5px; padding:10px;} /* 20180917 수정 여종립 */
.issue-rank-box { background-color:#f6fafd; border:1px solid #ced8e3; }
.issue-rank-box .rank-box-title { padding:25px 5px 17px 5px; text-align:center; }
.issue-rank-box .rank-box-title h5 { margin:0; font-size:14px; color:#333; font-weight:bold; }
.issue-rank-box .rank-box-content { }
.issue-rank-box .rank-box-content ol > li { position:relative; padding:7px 12px; }
.issue-rank-box .rank-box-content ol > li:hover { background-color: #e2effb; cursor: pointer; }

.rank-page-button { }
.rank-page-button .btn { position:absolute; top:50%;  opacity:.7; }
.rank-page-button .btn-prev { left:0; }
.rank-page-button .btn-next { right:0; }

/* 감성어휘분석 긍정부정 키워드 순위 */
.area-pn-rank {}
.area-pn-rank .rank-box { float:left; width:49%; }
.area-pn-rank .rank-box:first-child { margin-right:2%; }
.area-pn-rank .rank-box .rank-box-title{ background:#f6fafd; color:#333; }

/* 강성어휘 랭킹 추이 */
.voca-rank .rank-box-content { padding-right:10px; }
.voca-rank .rank-box-content ol, 
.voca-rank .rnak-box-subtitle h6{ float:left; width:40%; text-align:center; }
.voca-rank .rank-box-content ol:first-child, 
.voca-rank .rnak-box-subtitle h6:first-child { width:20%; }
.voca-rank .rank-box-content ol.num-st03 li  { padding-left:0; padding-right:0; }
.voca-rank .rnak-box-subtitle { padding-right:10px; }
.voca-rank .rnak-box-subtitle h6 { margin:0; font-size:13px; color:#fff; font-weight:bold; }
.voca-rank .rnak-box-subtitle h6 span { display:inline-block; width:90%; margin:0 auto; padding:3px 0; border-radius:20px 20px 0 0; }
.voca-rank  .rank-box-content ol li { line-height:20px; vertical-align:middle; }

/* 상관관계 순위 */
.progress { background-color: #dddddd; }

.correlation-list .correlation-completion .progress { display:inline-block; width:70%; margin-bottom:0; }
.progress-bar.danger { background-color: #ed232b; }
.correlation-list .label-state .label { display:inline-block; width:25px; height:25px; line-height:28px; padding:0; border-radius:100%; font-size:14px; }
.correlation-list tr { margin-bottom:5px; border: 1px solid #e7eaec;}
.correlation-list .rank-num {color:#1765b4; font-weight:bold; text-align:center; }


/* 계수 */
.chart-correlation { color:#fff; text-align:center; }
.chart-correlation .result-object { height:50px; padding:15px 10px; background:#1765b4; font-weight:bold; }
.chart-correlation .result-object span { color:#f9ff00; }
.chart-correlation .result { height:110px; padding:20px 0;  background-color:#4188dc; background-image:linear-gradient( to bottom, #4188dc, #42b4da );
  background-image: -webkit-linear-gradient( bottom, #4188dc, #42b4da );}/*20181128 수정 여종립 */
.chart-correlation.small-chart .result { height:110px; padding:20px 0; }
.chart-correlation .result span { font-size:20px; }/* 20181128 수정 여종립 */
.chart-correlation .result .count { font-size:50px; font-weight:bold; } /*20180917 수정 여종립 */

/* 신호별 설정 키워드 */
.chart-signal div.box-wrap  { float:left; width:25%; padding: 0 5px; }
.chart-signal div.box-wrap:first-child { padding-left:0; }
.chart-signal div.box-wrap:last-child { padding-right:0; }
.chart-signal div.box-wrap div.title { padding:5px 0; border: 1px solid #c5cfd9; background:#f6fafd; font-weight:bold; text-align:center; }
.chart-signal div.box-wrap div.title h5 { margin-bottom:0;font-weight:bold;  font-size:16px; }
.chart-signal div.box-wrap div.title small {color:#777; }
.chart-signal div.box-wrap ul li { margin:5px 0; padding:5px 0; background-color:#344a61; border: 1px solid #f0f0f0; text-align:center; color:#fff; }
.chart-signal div.box-wrap .type01 .title h5 { color:#0053a6; }
.chart-signal div.box-wrap .type02 .title h5 { color:#026eda; }
.chart-signal div.box-wrap .type03 .title h5 { color:#0089cf; }
.chart-signal div.box-wrap .type04 .title h5 { color:#2982ab; }
.chart-signal div.box-wrap .type01 li:nth-child(-n+2) { background-color:#0053a6; }
.chart-signal div.box-wrap .type02 li:nth-child(-n+2) { background-color:#026eda; }
.chart-signal div.box-wrap .type03 li:nth-child(-n+2) { background-color:#0089cf; }
.chart-signal div.box-wrap .type04 li:nth-child(-n+2) { background-color:#2982ab; }


/* 지역별 이슈 */
.area-map  { height:550px; padding-left:0; }
.area-map .ibox-content{ height:520px; }
.area-map-right { height:550px; }
.area-map .map-korea { position:relative; }
.area-map .map-korea .korea-han { margin:0 auto; }
.map-layer-info { display:none;  position: absolute; right:0; bottom:0; padding:6px 6px 6px 10px; background-color: #fff; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,.2); text-align:left; }
.map-layer-info h3 { display:inline-block; margin:0 5px 0 0; font-size:15px; font-weight:bold; }
.map-layer-info p { margin-top:3px; margin-bottom:0; }

.label-keyword { }
.label-keyword .label { display: inline-block; float:left; margin:2px; font-size:12px; }
.label-keyword .label.first .btn:first-child { display: none;}
.label-keyword .label:last-child .btn:last-child { display: none;}
.label-keyword .btn { padding:0; font-size:100%; background-color:transparent; }
.label-keyword .label:not(.label-default) .btn.focus, 
.label-keyword .label:not(.label-default) .btn:focus, 
.label-keyword .label:not(.label-default) .btn:hover { color:#fff; }
.label-keyword .btn i { font-size:11px; }


/* topic network */
.network circle { cursor : pointer; }
.network line.link { fill: none; stroke: #C4BBB3; stroke-width: 1px; }
.network text { cursor : pointer; text-anchor: middle; fill : #ffffff; font-size:13px; font-weight : 700; }
.network div.tooltip { position: absolute; text-align: center; padding: 5px; background : #B0B0B0; pointer-events: none; border-radius : 5px;}

.network .root circle  { stroke: #ff5000; fill: #fddcc1; stroke-width: 5px; }
.network .root rect  { fill: #1765b4; fill-opacity: 1;}
.network .root text { font-size:1.4em;  }

.network .second circle   { fill: #ff7c00; }
.network .second rect  { fill:#03c1ff; fill-opacity: 1;}
.network .second text { font-size:1.1em}

.network .third circle   { fill: #ffac00; fill-opacity: 1; }
.network .third circle:hover { fill-opacity: 1; }
.network .third rect  {fill: #bbc6d4; fill-opacity: 1; padding:0 100px;}
.network .third text { font-size:1em; fill : #000000;  }

.network .keywords circle  { fill: #ffac00; fill-opacity: 0.3; }
.network .keywords rect  {fill: #ff7c00; }
.network .keywords text { font-size:0.9em  }

/* 선탯 이슈 감성지수 분석 & 선택 토픽 급상승 분석 */
.chart-focus-select .box h5 { font-size:20px; font-weight:bold; padding-bottom:10px; text-align:left; }
.chart-focus-select .box {  text-align:center; }
.chart-focus-select .box .info { text-align:left; font-size:16px; font-weight:bold; text-align:center;}
.chart-focus-select .box .info  span { font-weight:bold; }
.chart-focus-select .box .point { margin:30px 10px 40px 10px; font-size:25px; overflow:hidden;  text-align:center; }
.chart-focus-select .box .point span { font-weight:bold; }
.chart-focus-select .box .contrast { display:inline-block; width:100%; height:70px; padding:0 20px; background:#3c4a56; color:#fff; font-size:20px; border-radius:35px; line-height:70px;}/* 20170917 수정 여종립 */
.chart-focus-select .box .contrast span { font-weight:bold; font-size:20px; }
.chart-focus-select .box .contrast span.down { color:#03daff; }
.chart-focus-select .box .contrast span.up { color:#ff3232; }
.chart-issue-sens {}

/* 20181022 추가 수정 여종립 - 20181204 추가 수정*/
.chart-issue-sens .trafficlight-wrap { position:relative; display:inline-block; vertical-align:middle; }
.chart-issue-sens .trafficlight { background:#333; background-image:linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 3%); width:200px; height:80px; 
border-radius:40px; position:relative; border:4px solid #333}
.chart-issue-sens .trafficlight > div { position:absolute; width:50px; height:50px; top:10px; background-size:5px 5px; border-radius:50%; opacity:.3;}
.chart-issue-sens .trafficlight > div.active { opacity:1; }
.chart-issue-sens .trafficlight > div.red {background:red; background-image:radial-gradient(#ff8d00, transparent); left:10px; animation :13s red infinite;
/*border: dotted 2px red;*/ box-shadow: 0 0 20px #111 inset, 0 0 10px red;}
.chart-issue-sens .trafficlight > div.yellow {background:#000; background-image:radial-gradient(yellow, transparent); left:70px; animation :13s yellow infinite; border: /*dotted 2px yellow;*/ box-shadow: 0 0 20px #111 inset, 0 0 10px yellow;}
.chart-issue-sens .trafficlight > div.green {background:green; background-image:radial-gradient(#a9ff00, transparent); left:130px; animation :13s green infinite;
/*border: dotted 2px green;*/ box-shadow: 0 0 20px #111 inset, 0 0 10px green;}

/* Weekly 이슈 급상승 분석 추가 - 20181128 */
.chart-issue-sens .info { margin-top:10px; min-height:60px;}
.chart-issue-sens .top-info { margin:10px; height:80px; line-height:50px; background:#f9f9f9; border:1px solid #ddd; overflow:hidden; }
.chart-issue-sens .top-info h6 { float:left; width:75px; height:100%; margin:0; padding:10px; background:#fdd04a;  color:brown; font-size:13px; font-weight:bold; text-align:left; }
.chart-issue-sens .top-info h6 span { display:block;  color:#fff; font-size:14px; }
.chart-issue-sens .top-info > span { display:inline-block; height:60px; width:120px; margin:10px 5px; padding:5px 30px; background:#6589b3; color:#fff; font-size:16px; vertical-align:middle; border-radius:30px; }

.

.chart-topic-updown {  }
.chart-topic-updown .info { margin-top:10px; }
.chart-topic-updown .top-info { margin-top:10px; height:55px; line-height:50px; background:#f9f9f9; border:1px solid #ddd; overflow:hidden; }
.chart-topic-updown .top-info h6 { float:left; width:75px; height:100%; margin:0; padding:10px; background:#fdd04a;  color:brown; font-size:13px; font-weight:bold; text-align:left; }
.chart-topic-updown .top-info h6 span { display:block;  color:#fff; font-size:14px; }
.chart-topic-updown .top-info > span { display:inline-block; height:30px; margin:0 5px; padding:5px 30px; background:#6589b3; color:#fff; line-height:150%; font-size:14px; vertical-align:middle; border-radius:20px; }

/* twitter list */
.twitter-item-list {}
.twitter-item { position:relative; margin-bottom:10px; padding: 15px 25px; background-color:#ebf6fb; border:1px solid #bce8f1; }
.twitter-item .arrow, 
.twitter-item .arrow:after { position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid; }   
.twitter-item .arrow { top:50%; left: -11px; margin-top: -11px; border-width: 11px; border-right-color: #abdbe4; border-left-width: 0; }
.twitter-item .arrow:after { content: ""; bottom: -10px; left: 1px; border-width: 10px; border-right-color: #ebf6fb; border-left-width: 0;}
.twitter-item .twitter-title { margin-bottom:5px; color: #1765b4; }
.twitter-item .twitter-title span { font-size:14px; }
.twitter-item .twitter-icon { text-align:right; }
.twitter-item .twitter-icon .btn { margin-top:5px; }

/* Vote list */
.vote-item-list { border-top: 1px solid #111; }
.vote-item { padding: 15px 25px; border-top: 1px solid #f0f0f0; }
.vote-item-list .vote-item:first-child .vote-actions a:first-child { display:none; }
.vote-item-list .vote-item:last-child .vote-actions a:last-child { display:none; }
.vote-title { font-size: 16px; }
.vote-info { padding-top:5px; }
.vote-info, 
.vote-info a { color: #777; font-size: 13px; }
.vote-item.add { min-height: 60px; margin-top:20px; border: 1px dashed #1765b4; cursor: pointer; }
.vote-item.add .add-message { padding:10px; text-align:center; font-size:16px; color:#1765b4; }
.modal-body .vote-info, 
.modal-body .vote-title { margin-left:0; }

/* widget box */
.widget-cate-box { padding: 10px; background-color: #eef2f6; border: 1px solid #c5cfd9; }
.widget-box { margin-bottom: 20px; padding: 20px; background-color: #fff; border: 1px solid #e7eaec; }
.widget-box h5  { margin-top:10px; font-size:14px; font-weight:bold; }
.widget-box .close { position:absolute; top:20px; right:30px; color:#777; opacity:1; }

/* toast */
.toast-message { font-size:18px; }
/* sweet alert */
.sweet-alert .sa-icon.sa-warning { border-color:#038eff; }
/* Tabs */
.tabs-container .panel-body { border: 1px solid #c5cfd9; }
.tabs-container .nav-tabs { background-color:#d3dae2; border-bottom:2px solid #1765b4; }
.tabs-container .nav-tabs > li { width:8.333%; margin-bottom:0; padding: 10px 0 10px 0; text-align:center; color:#203552; border-left:1px solid #bfc8d2; cursor: pointer; }
.tabs-container .nav-tabs > li.active { border-bottom-color: transparent; background-color: #1765b4; color:#fff; }
.tabs-container .nav-tabs > li:ater { }
.tabs-container .nav-tabs.col3 > li { width:33.333%; }
.tabs-container-button .nav-tabs { display:inline-block; vertical-align:middle; border-bottom:0; }
.tabs-container-button .nav-tabs > li a, 
.tabs-container-button .nav-tabs > li span { display: inline-block; padding: 6px 12px; background-color: #d3dae2; text-align:center; color:#203552; font-size: 14px; font-weight: 400;border-radius: 3px; }
.tabs-container-button .nav-tabs > li span { margin-right: 3px; cursor: pointer; }
.tabs-container-button .nav-tabs > li.active a,
.tabs-container-button .nav-tabs > li.active span{ background-color:#1765b4; color:#fff; }
.tabs-container-button .nav-tabs > li.active span { cursor: default; }
.tabs-container-button.substitute .nav-tabs { width:100%; }
.tabs-container-button.substitute .nav-tabs > li { width:10%; }
.tabs-container-button.substitute .nav-tabs > li span { width:95%; }
.tabs-container-button.substitute .nav-tabs > li span small { display:block; margin-top:5px; }
.tabs-container-button.substitute .nav-tabs > li:last-child span { width:100% }

.tabs-container .nav-tabs-chart { }
.tabs-container .nav-tabs-chart > li { float:left; width:33.333%; height:350px; padding:15px; background:#fff; border:1px solid #efeeee; border-left:0; border-bottom:1px solid #c5cfd9; border-radius: 4px 4px 0 0; }
.tabs-container .nav-tabs-chart > li.active { border:1px solid #c5cfd9; border-top:4px solid #1765b4; border-bottom:0;  }
.tabs-container .nav-tabs-chart > li:hover { cursor: pointer; }
.tabs-container .nav-tabs-chart > li h5 { font-size:21px; font-weight: 400; }
.tabs-chart-content { border-top:1px solid #fff;}


/* 아코디언 */
#accordion .panel-title a { position:relative;display:block; }
#accordion .panel-title a.collapsed:after { display: inline-block; position:absolute; right:10px; content:"\f107"; font: normal normal normal 14px/1 FontAwesome; }
#accordion .panel-title a:after { content: "\f106";  display: inline-block; position:absolute; right:10px; font: normal normal normal 14px/1 FontAwesome; }
#accordion table.panel-twitter { margin-bottom:10px; }
#accordion table.panel-twitter td { padding:0 8px; border:0; }
#accordion table.panel-twitter td .progress { margin-bottom:10px; }
#accordion .btn-area { margin-top:-10px; padding:0 20px 10px 20px; text-align:right; }

/* 댓글 목록 아코디언 */
.accordion-comment .panel-heading  { position:relative; }
.accordion-comment .panel-heading .button-area  { position:absolute;  right:50px; top:10px; }
.accordion-comment .panel-title a { position:relative; display:block; }
.accordion-comment .panel-title a.collapsed:after { display: inline-block; position:absolute; right:10px; content:"\f107"; font: normal normal normal 14px/1 FontAwesome; }
.accordion-comment .panel-title a:after { content: "\f106";  display: inline-block; position:absolute; right:10px; font: normal normal normal 14px/1 FontAwesome; }
.accordion-comment .panel-title small { font-size:100%; }
.accordion-comment .analysis-list .table { margin-bottom:0; }
.accordion-comment .analysis-list table .analysis-title { font-weight:normal; }
.accordion-comment .panel-body .button-area { padding-top:20px; border-top:1px solid #ddd; text-align:center; }
/* slick */
.slick-prev:before,
.slick-next:before { font-size:20px; color: #4a5864 !important; }
.slick-prev { left:-18px; }
.slick-next { right:-18px; }

/* new time line */
.vertical-container { width:100%; }
#vertical-timeline { margin-bottom:0; }
#vertical-timeline::before { left:38px; }
.vertical-timeline-block { margin:1em 0; padding:0 20px; }
.vertical-timeline-icon{ left:20px; }
.vertical-timeline-icon span { display:block; position:relative; width:24px; height:24px; left:50%; top:50%; margin-left:-16px; margin-top:-7px; font-size: 13px; font-weight: bold; }
.vertical-timeline-date { display:inline-block; position:absolute; top:45px; left: 0; width:70px;  padding:2px 0 0 0; background-color:#b5b5b5; text-align: center; color: #fff; font-size: 12px; border-radius: 5px; }
.vertical-timeline-button { position:relative; width:100%; max-width:1170px; margin:0 auto 2em auto; padding:30px 0 0 0; }
.vertical-timeline-button::before { content:''; position:absolute; top:0; left:38px; width:4px; height:100%; background:#f1f1f1; }
.vertical-timeline-icon.last { bottom:0; left:33px; top:inherit; width:15px; height:15px;  border:3px solid #ddd; background-color:#ddd; }
.vertical-timeline-content h2 { font-size:15px; font-weight:bold; }
.vertical-timeline-content p { color:#888; }
.vertical-timeline-button .vertical-timeline-content.panels-add-box { margin-bottom:0; }
.vertical-timeline-button .vertical-timeline-content.panels-add-box:before { display:none; }
.vertical-timeline-button .vertical-timeline-content.panels-add-box .add-message { padding:5px 15px; }



/* PAGINATIN */
.pagination { margin:10px 0; }
.pagination > li > a,
.pagination > li > span { border-color: #c5cfd9; }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus { background-color: #038eff; border-color: #038eff; color: #fff; cursor: default; z-index: 2; }
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus { background-color: #eef2f6; order-color: #c5cfd9; color: #23527c;  bz-index: 2; }


/* 대시보드 */
.dashboard { position: relative; }
.accordion-latest .panel { }
.accordion-latest .title-wrap { padding:5px; border-bottom: 1px solid #ced8e3; overflow:hidden; }
.accordion-latest a.ellipsis { width:100%; }
.accordion-latest .title {float:left; width:75%; }
.accordion-latest .title-wrap .date { float:right; }
.accordion-latest .latest-content { padding: 15px; background: #f6fafd; border: 1px solid #e7eaec; border-radius: 3px; }
.dashboard-preview { margin-top:5px; min-height:350px; background-color: #f5f5f5; }
.before-text { text-align:center; vertical-align:middle; line-height:350px; font-size:18px; font-weight:bold; color:#7777778f; }




/* 대시보드 편집 메뉴 */
#dashboard-modify-info { display:none; }
.dasboard-btn-wrap i.fa-cu { display:inline-block; margin-right:3px; vertical-align: middle; }
.dasboard-btn-wrap i.fa-modify { width:20px; height:17px; background:url(../img/icon-btn.png) no-repeat 0 -4px; }
.dasboard-btn-wrap i.fa-dsave { width:20px; height:17px; background:url(../img/icon-btn.png) no-repeat 0 -37px; }
.dasboard-btn-wrap i.fa-cancle { width:16px; height:15px; background:url(../img/icon-btn.png) no-repeat -3px -70px; }
.ibox-dashboard-modify { display:none; position: absolute; top:0; right:0; width:100%; height:50px; max-width:450px; line-height:50px; background:rgba(31, 52, 81, 0.8); overflow:hidden; }
.ibox-dashboard-modify .close {width:50px; height:50px;  color:#fff; background:#1f3451; opacity: 1; }
.ibox-dashboard-modify > div { float:left; height:100%; padding:0 15px; border-left:1px solid #6d7d92; color:#fff; vertical-align:middle; }
.ibox-dashboard-modify > div:first-child { border-left:0; }
.ibox-dashboard-modify > div select { width:45px; height:25px; padding: 6px 4px; vertical-align:middle; color:#333; }
.ibox-dashboard-modify > div strong { color:#41dcf5; }

/* 서비스 소개 */
.about-service img { margin:0 auto; }

/* 기존 사이트 상단영역 */
#header {/*background-image: url(../img/bg_categoryWrap.gif); background-repeat: repeat-x;*/ }
#category_wrap { width:100%; margin-right: auto; margin-left: auto;font-family:Nanum Gothic; }
#clogo_wrap { height: 180px; width: 400px; overflow: hidden; float: left; }
#category_line_wrap { width:100%;  background:#fff url(../img/bg_categoryIine.jpg) repeat-x;   /* background: rgba(255, 255, 255, 0.74);  */border-bottom:2px solid #1267b7 }
#category_line { width:1200px; margin:0 auto; height: 180px; }
/* #categoryBox { float: left; margin-top: 15px; margin-left: 18px; height: 165px; width: 782px; } */
#category_line { display:none; background:url(../img/icon_dataCategory.png) no-repeat  30px}
.categoryGnb { float:left; width:120px;  margin-left:220px; padding-top:30px; }
.categoryGnb > div { padding:5px 0; }
.categoryGnb .radio label { font-weight:bold; }
.categoryList { position: relative;  }
#categoryBox .arrow, 
#categoryBox .arrow:after { position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid; }   
#categoryBox .arrow { top:50%; left: -11px; margin-top: -11px; border-width: 11px; border-right-color: #000; border-left-width: 0; }
#categoryBox .arrow:after { content: ""; bottom: -10px; left: 1px; border-width: 10px; border-right-color: #000; border-left-width: 0;}


#iconDataCategory { float: left; }
.categoryList { float: left; margin: 5px 0 0 0 ; background-color: #000; height: 165px; width: 840px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; text-align: center; }
.categoryList li { display: block; width: 74px; height: 70px; float:left; margin-right:0px; }
.categoryList li a { display: table-cell; height: 72px; width: 74px; vertical-align:bottom; text-align: center; color: #FFF; font-size: 12px; text-decoration: none; border:0px solid #5d5a5a }
.categoryList li a.disable { color:#c3c3c3; }
.categoryList li a.disable:hover { background-color:#000 !important }
.categoryList li a.disable img { opacity: 0.5; }
#categoryList2 li a:hover { background-color:#95ba2f }
#categoryList1 li a:hover { background-color:#77663e }
.categoryList li a img { margin-bottom: 8px; }
.categoryList li a span { display: block; line-height:normal;  border:0px solid red; margin-bottom: 7px; width: 74px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; letter-spacing:-1px; }
#categoryList2, #categoryList3 { display:none }
#categoryList3 { padding:0; }
#categoryList3 ul.tabs { float:left; height:32px; width:100%; font-weight:bold; }
#categoryList3 ul.tabs li { float:left; width:20%;; height:31px; line-height:31px; border-left:1px solid #6e7f8c; overflow:hidden; position:relative; background:#586875}
#categoryList3 ul.tabs li:first-child { border-left:0; }
#categoryList3 ul.tabs li a { width:auto;  height:auto;  color:#fff; display:block; padding:0 20px; outline:0}
#categoryList3 ul.tabs li.active a, #categoryList3 ul.tabs .active a:hover { background:#000; color:#fff; border:0; }
#categoryList3 .tab-container { overflow:hidden; clear:both; float:left; width:100%;  }
#categoryList3 .tab-content { padding:15px 10px;}
#categoryList3 .tab-content ul li { width:auto; height:auto; margin:5px;  }
#categoryList3 .tab-content ul li a { width:80px; height:40px; line-height:40px; background:#2d2d2d;border-radius:20px; }
#categoryList3 .tab-content ul li a:hover { background-color:#4979a8}
#clogo { margin-top: 51px; }
#etc_wrap { position: relative; width:1200px; margin:0 auto; height: 46px; overflow: hidden; }
#btn_slideUp { display:block; position: relative; top: -25px; width:25px; height:25px;}
.btn_DatamapCategory_wrap {  position:absolute; top:0; left:50%; margin-left:-130px;    } /* 버튼 이미지 변경에 따른 위치값 수정 20181001 여종립 */
#logo_lineType { margin-top: 12px; }
/* #logo_lineType { display:none} */
#loginInfo { float: right; height: 23px; margin-top: 12px; }
#loginInfo span { font-size: 13px; color: #4c4c4c; float: left; padding-top: 3px; padding-right: 10px; }
#loginInfo span a { font-weight:bold; color: #4c4c4c; }

/* 메인화면 리뉴얼에 따른 메뉴 CSS 전면 수정 - 20181122 여종립 */
#gnbWrap { position:absolute; width:100%; background: #000;}
#gnbWrap #gnb {width:1200px; margin:0 auto; height:48px;}
#gnbWrap #gnb > li {float:left; border-right:1px solid #5f5f5f; display:inline-block; line-height:48px; width:171px; text-align:center;}
#gnbWrap #gnb > li:first-child {margin-right:0; border-left:1px solid #5f5f5f;}
#gnbWrap #gnb > li > span {height:48px;}
#gnbWrap #gnb > li > span > a {font-size:18px; font-weight:bold; color:#FFF; line-height:48px;  display:block; letter-spacing:-0.03em; *letter-spacing:-0.08em; text-decoration:none; font-family:Nanum Gothic;}
#gnbWrap #gnb > li > span > a:hover {display:block; height:48px; background:#282828; z-index:9999; text-align:center;}
#gnbWrap #gnb > li.on > span {display:block; height:48px; background:#5f5f5f; z-index:9999; text-align:center;}

.blind {position:absolute !important;left:-9000px !important;}

/* gnb 2depth */
.depth2Wrap {display:none; position:absolute; top:48px; left:0; height:50px; width:100%; background-color:rgba(0, 34, 97, 0.5); float:left; z-index:2002;}
.depth2Wrap .inner {width:100%; margin:0 auto; padding-bottom:10px;}
.depth2Wrap .menuWrap {margin-left:16px; padding-bottom:15px; text-align:center;}
.depth2Wrap .menuWrap .depth2 {}
.depth2Wrap .menuWrap .depth2 > li {padding:2px 10px 3px 10px; display:inline;}
.depth2Wrap .menuWrap .depth2 > li > a {font-size:14px; padding-left:8px;  font-weight:400; line-height:14px; text-decoration:none; color:#FFF;}
.depth2Wrap .menuWrap .depth2 > li > a:hover {color:#ffed26;}

.depth2Wrap.sub01 {padding-right:900px;}
.depth2Wrap.sub02 {padding-right:600px;}
.depth2Wrap.sub03 {padding-left:60px;}
.depth2Wrap.sub04 {padding-right:30px;}
.depth2Wrap.sub05 {padding-right:20px;}

.depth2Wrap.sub06 {padding-left:700px;}
.depth2Wrap.sub07 {padding-left:850px;}



#submenu_wrap { width:100%; height:39px; padding:0;  margin:0; margin-left:auto; margin-right:auto; background-color:#add4f8; position:relative; z-index:200}
#submenu_wrap ul { padding:5px; width:auto }
#submenu_wrap ul li { display:inline-block  }
#submenu_wrap ul li a { font-size:14px; font-weight:bold; color:#000000; text-decoration:none; display:block; padding:5px 17px;}
#submenu_wrap ul li a:hover { color:#4b7ead;}
#submenu_wrap ul li a.active { color:#4b7ead;}
#submenu_1, #submenu_2, #submenu_3, #submenu_4, #submenu_5 { display: none}
#submenu_1 { margin-left:0px;}
#submenu_2 { margin-left:99px;}
#submenu_3 { margin-left:444px;}
#submenu_4 { margin-left:679px;}
#submenu_5 { margin-left:1030px;}

/* 키 비쥬얼 - 20181121 여종립 */
.visual {position:relative; height:448px; background:#cdcdcd; margin-top:48px;}

#mainContainer {width:100%; margin:0 auto; position:absolute; top:130px; z-index:99;}
#mainContainer .visualCopy {width:1200px; margin:0 auto; text-align:center;}
#mainContainer .visualCopy p {font-size:40px; font-weight:bold; color:#FFF; text-shadow:0 3px 0 #000000;}
#mainContainer .visualCopy p.memo {font-size:18px; font-weight:normal; color:#FFF; text-shadow:none;}
#mainContainer .visualCopy p span.color1 {color:#fff000;}
#mainContainer .visualCopy p span.color2 {color:#ff9b0e;}
.carousel-indicators {top:60%;}

/*  인사 평가 분석 */
.peopleArea {margin:20px 0 0 0; padding:20px; border-top:1px solid #cdcdcd;}
.peopleArea ul li {font-size:15px; font-weight:bold; line-height:30px; color:#1f63c0; display:inline-block;}
.peopleArea ul li span {font-weight:normal;font-size:12px; color:#999; padding-left:20px;}
.peopleArea ul li span.btnA {float:right; margin-right:50px; display:inline-block;}
.ibox .ibox-title.People {background:#2f5597;}
.ibox .ibox-title.People p {text-align:center; color:#FFF;line-height:50px;}
.ibox .ibox-title.People p span {color:#fffc0c; font-size:18px;}
.num {float:right;color:#999;}

/* CEO 포커스 */
.danger_box {background:#FFF; border:1px solid #c5cfd9; border-radius:10px; margin:10px 0 20px 0; padding:20px 20px 10px 20px;}
.danger_box p {text-align:center; font-size:18px; font-weight:600;}
.danger_box p span {font-weight:600; font-size:22px;}
.danger_box p span.gn {color:#5ca201;}
.danger_box p span.dn {color:#e40f14;}
.danger_box2 {background:#FFF; border:1px solid #c5cfd9; border-radius:10px; margin:10px 0 20px 0; padding:20px 20px 10px 20px;}
.danger_box2 p {font-size:16px;}
.danger_box2 p span {font-weight:600;}
.danger_box2 p span.title {font-weight:600; font-size:18px;}
.danger_box2 p span.gn {color:#5ca201; font-weight:600;}
.danger_box2 p span.dn {color:#e40f14; font-weight:600;}

/* 20181112 추가 */
.dangerArea {}
.dangerInfo_box {padding:20px; border-radius:5px;}
.dangerInfo_box_L {text-align:center;margin-top:15px;}
.dangerInfo_box_L_icn {display:inline-block; text-align:center; margin:0 auto;}
.dangerInfo_box_L_icn .icnArea {background:url(../img/bg_serviceInfo2.png); width:40px; border-radius:20px; line-height:40px; text-align:center; font-size:26px; color:#1f4498;}
.dangerInfo_box_R {display:inline-block; line-height:20px;}

/* 20181022 추가 */
.focus-box { background:#fff; border:1px solid #ced8e3; }
.focus-box .focus-box-title { padding:9px 5px; background-color:#6589b3; color:#fff; font-weight:bold; text-align:center; }
.focus-box .focus-box-title.bg-primary { background: #038eff url(../img/tab_bg.png)repeat-x 50% 50%; }
.focus-box .focus-box-title.bg-danger { background: #ed232b url(../img/tab_bg.png)repeat-x 50% 50%;; }
.focus-box .focus-box-title h5 { margin:0; font-size:107.7%; }
.focus-box .focus-box-content { }
.focus-box .focus-box-content ol > li { position:relative; padding:10px 12px; background-color:#fff; border-bottom:1px solid #f0f0f0; } /*20180917 수정 여종립 */
.focus-box .focus-box-content ol > li.gubun {background:#f4f4f4;}/* 20170917 추가 여종립 */
.focus-box .focus-box-content ol > li.end {border-bottom:0;}
.focus-box .focus-box-content ol > li:hover { background-color: #e2effb; cursor: pointer; }
.focus-box .focus-box-content ol > li span, .focus-keyword .ellipsis{vertical-align:middle; }
.focus-box .focus-box-content .primary-box {background:#deebf7; min-height:110px;}
.focus-box .focus-box-content .primary-box p {color:#555;padding:20px; margin:0px !important; font-size:16px;}
.focus-box .focus-box-content .primary-box p span {font-weight:bold; color:#000;}
.focus-box .focus-box-content .primary-box p span.primary {color:#0060b9; font-size:20px;}
.focus-box .focus-box-content .danger-box {background:#fbe5d6; min-height:110px;}
.focus-box .focus-box-content .danger-box p {color:#555;padding:20px; margin:0px !important; font-size:16px;}
.focus-box .focus-box-content .danger-box p span {font-weight:bold; color:#000;}
.focus-box .focus-box-content .danger-box p span.danger {color:#f9003b; font-size:20px;}
.focus-box-content ol > li .focus-keyword { display:inline-block; /* width: calc(100% - 28px);*/ width:100%; margin-left:-28px; padding-left:28px; }
.focus-box-content ol > li .focus-keyword .ellipsis { width:95%; }
.focus-box-content ol li a { color:#333; }
.focus-box-content ol li .dropdown-menu a,
.focus-box-content ol li .dropdown-menu a:focus,
.focus-box-content ol li .dropdown-menu a:hover { color: #333; }



/* Tab - 20181019 키워드분석 추적 */
.tabs-container .nav-tabs {background:none;}
.tabs-container .nav-tabs > li.active {border-radius:5px 5px 0 0; background:#337ab7 url(../img/tab_bg.png)repeat-x 50% 50%;}
.tabs-container .nav-tabs > li {background:#e8ebed url(../img/tab_bg2.png)repeat-x 50% 50%; border-left:1px solid #bfc8d2; border-top:1px solid #bfc8d2; border-right:1px solid #bfc8d2; border-radius:5px 5px 0 0;}
.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {border:0; background:none;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color:#FFF; font-size:16px;}
.nav-tabs > li > a {color:#555; font-size:16px; border:0; padding:5px 20px 5px 20px;}



/* 메인화면 */
.quick {background:#FFF url(../img/main/quick_bg.png)no-repeat 50% 0;}

#quickArea {position:relative; top:-80px; width:100%; margin:0 auto; text-align:center; z-index:9999;}
#quickArea .quickIn {width:1200px; margin:0 auto; padding:20px 20px 10px 20px; background:#FFF; border:1px solid #c4c4c4;}
#quickArea .quickIn dl {display:inline-block; width:16%;}
#quickArea .quickIn dl a {color:#333;}
#quickArea .quickIn dt {font-size:50px;}
#quickArea .quickIn dd {font-weight:bold; margin-top:5px;}

#bannerZone {overflow:hidden; width:1200px; margin:0 auto; margin-top:-80px;}
#bannerZone .banner_wrap {overflow:hidden;}
#bannerZone .banner_wrap .banner_box { float:left; padding:5px 0;}
#bannerZone .banner_wrap .banner {clear:both;}
#bannerZone .banner_wrap .banner .title {float:right; font-size:14px; font-weight:bold; padding:0 0 10px 0; overflow:hidden;}
#bannerZone .banner_wrap .banner .title .play {text-align:center; padding-top:10px;}
#bannerZone .banner_wrap .banner .Playlist {float:left; width:1200px; height:220px;}
#bannerZone .banner_wrap .banner .Playlist ul {padding:0; margin:0 auto; height:192px; overflow:hidden;}
#bannerZone .banner_wrap .banner .Playlist ul li {display:inline-block; width:293px; margin-left:5px; height:192px; text-align:center; overflow:hidden;}
#bannerZone .banner_wrap .banner .Playlist ul li:first-child {margin-left:2px;}
#bannerZone .banner_wrap .banner .Playlist ul li img {border:1px solid #dbdbdb;}

#noticeArea {overflow:hidden; width:1200px; margin:0 auto; padding-bottom:20px; background:#FFF;}
#noticeArea .notice {float:left; width:600px; background:#FFF;display:inline-block; height:220px; border:1px solid #cdcdcd; box-sizing:border-box; padding:30px;}
#noticeArea .notice h3 {font-size:16px; font-weight:bold;}
#noticeArea .notice h3 span.more  {float:right;}
#noticeArea .notice h3 span.more a {color:#d2d2d2;}
#noticeArea .notice ul.noticeList {margin-top:20px;}
#noticeArea .notice ul.noticeList li {padding:2px 0 3px 0;}
#noticeArea .notice ul.noticeList li a {color:#555;}
#noticeArea .notice ul.noticeList li a:hover {color:#1267b7;}

#noticeArea .find {float:right; width:600px;background:#007bc1 url(../img/main/find_bg.png)no-repeat 100% 0;display:inline-block;height:220px;padding:30px;}
#noticeArea .find h3 {font-size:16px; color:#FFF; font-weight:bold;}
#noticeArea .find .data {color:#FFF; margin-top:30px;}
#noticeArea .find .data input.find {margin-left:30px;}
#noticeArea .find .data2 {margin-top:20px;}
#noticeArea .find .data2 input {height:34px; width:450px; padding-left:10px;}
#noticeArea .find .data2 a {color:#FFF; font-weight:bold;}
.btn-find {height:34px; color:#FFF; background:#004d8d; border-radius:0px; margin-top:-3px; width:70px;}

.socialArea {min-height:330px; background:#FFF;}
#socialOne {position:relative; width:1200px; margin:0 auto; padding:10px 0;}
#socialOne h3 {font-size:16px; font-weight:bold; padding:0 10px 10px 10px; border-bottom:1px solid #cdcdcd;}
#socialOne .kepcoIssue {width:200px; margin-left:20px;}
#socialOne .kepcoIssue h4 {font-size:13px; font-weight:bold; text-align:center;}
#socialOne .kepcoIssue ul.kepcoKW {border:1px solid #dee3ea; border-radius:3px; background:#fcfcfc; width:200px; margin-top:20px;}
#socialOne .kepcoIssue ul.kepcoKW li {border-bottom:1px solid #dee3ea; line-height:30px;}
#socialOne .kepcoIssue ul.kepcoKW li.after {border-bottom:0;}
#socialOne .kepcoIssue ul.kepcoKW li span {background:#9ca9b9; color:#FFF; display:inline-block; border-right:1px solid #dee3ea; width:30px;height:30px;text-align:center; margin-right:10px;}
#socialOne .kepcoIssue ul.kepcoKW li a {display:block; color:#555;}
#socialOne .kepcoIssue ul.kepcoKW li a:hover {background:#3793e2; color:#FFF; font-weight:bold; }
#socialOne .kepcoIssue ul.kepcoKW li a:hover span {background:#818e9e; border-right:1px solid #dee3ea;}
#socialOne .kepcoIssue ul.kepcoKW li.active, #socialOne .kepcoIssue ul.kepcoKW li.active a {background:#3793e2; color:#FFF; font-weight:bold;}
#socialOne .kepcoIssue ul.kepcoKW li.active a span {background:#818e9e; border-right:1px solid #dee3ea;}

#socialOne .kepcoIssue ul.kepcoKW li.active ul li a {background:#FFF; color:#555; border-bottom:1px solid #dee3ea; font-weight:normal;}
#socialOne .kepcoIssue ul.kepcoKW li.active ul li a:hover {background:#3793e2; color:#FFF; font-weight:bold;}

#socialOne .kepcoIssue ul.kepcoKW li ul {padding:0; margin:25px; border:1px solid #03a9f4; border-radius:3px; background:#FFF; padding:10px 15px 10px 15px;}
#socialOne .kepcoIssue ul.kepcoKW li ul li {width:140px; height:30px; border-bottom:1px solid #ddd;}
#socialOne .kepcoIssue ul.kepcoKW li ul li.after {border-bottom:0;}
#socialOne .kepcoIssue ul.kepcoKW li ul li a {display:block; width:100%; height:30px; line-height:30px; color:#333; text-align:center; font-size:12px;}

.kepcoKW ul {position:absolute; top:7px; left:-9999px; z-index:99999999;}
.kepcoKW :hover ul {display:block; left:175px; top:7px; background:#fcfcfc;}

.kepcokwArea {position:absolute; top:0; left:200px; width:172px;}
.kepcokwArea h4 {font-size:13px; font-weight:bold; text-align:center; padding-bottom:3px;}
.kepcokwArea .box {border:1px solid #03a9f4; border-radius:3px; background:#FFF; height:172px; padding:10px 15px 10px 15px;}
.kepcokwArea .box ul {padding:0;}
.kepcokwArea .box ul li {width:140px; height:30px; border-bottom:1px solid #ddd;}
.kepcokwArea .box ul li.after {border-bottom:0;}
.kepcokwArea .box ul li a {display:block; width:100%; height:30px; line-height:30px; color:#333; text-align:center;  font-size:12px;}
.kepcokwArea .box ul li a:hover {background:#3793e2; color:#FFF; font-weight:bold;}

#socialOne h3 {font-size:16px; font-weight:bold; padding:0 10px 10px 10px; border-bottom:1px solid #cdcdcd;}
#socialOne .global {width:200px; margin-left:20px;}
#socialOne .global h4 {font-size:14px; font-weight:bold; text-align:center;}
#socialOne .global ul.globalKW {border:1px solid #dee3ea; border-radius:3px; width:200px; margin-top:20px;}
#socialOne .global ul.globalKW li {border-bottom:1px solid #dee3ea; background:#FFF; line-height:30px;}
#socialOne .global ul.globalKW li span {background:#9ca9b9; color:#FFF; display:inline-block; border-right:1px solid #dee3ea; width:30px;height:30px;text-align:center; margin-right:10px;}
#socialOne .global ul.globalKW li a {display:block; color:#555;}
#socialOne .global ul.globalKW li a:hover {background:#3793e2; color:#FFF; font-weight:bold;}
#socialOne .global ul.globalKW li a:hover span {background:#818e9e; border-right:1px solid #dee3ea;}
#socialOne .global ul.globalKW li.active, #socialOne .global ul.globalKW li.active a {background:#3793e2; color:#FFF; font-weight:bold;}
#socialOne .global ul.globalKW li.active a span {background:#818e9e; border-right:1px solid #dee3ea;}

#socialOne .global ul.globalKW li.active ul li a {background:#FFF; color:#555; border-bottom:1px solid #dee3ea; font-weight:normal;}
#socialOne .global ul.globalKW li.active ul li a:hover {background:#3793e2; color:#FFF; font-weight:bold;}

#socialOne .global ul.globalKW li ul {padding:0; margin:25px; border:1px solid #03a9f4; border-radius:3px; background:#FFF; padding:10px 15px 10px 15px;}
#socialOne .global ul.globalKW li ul li {width:140px; height:30px; border-bottom:1px solid #ddd;}
#socialOne .global ul.globalKW li ul li.after {border-bottom:0;}
#socialOne .global ul.globalKW li ul li a {display:block; width:100%; height:30px; line-height:30px; color:#333; text-align:center; font-size:12px;}


.socialArea2 {background:#ecf0f5; height:320px;}
#socialTwo {position:relative; width:1200px; margin:0 auto; height:300px; padding:20px 0;}
#socialTwo h3 {font-size:16px; font-weight:bold; padding:0 10px 10px 10px; border-bottom:1px solid #cdcdcd;}
#socialTwo .global {width:200px; margin-left:20px;}
#socialTwo .global h4 {font-size:14px; font-weight:bold; text-align:center;}
#socialTwo .global ul.globalKW {border:1px solid #dee3ea; border-radius:3px; width:200px; margin-top:20px;}
#socialTwo .global ul.globalKW li {border-bottom:1px solid #dee3ea; background:#FFF; line-height:30px;}
#socialTwo .global ul.globalKW li span {background:#9ca9b9; color:#FFF; display:inline-block; border-right:1px solid #dee3ea; width:30px;height:30px;text-align:center; margin-right:10px;}
#socialTwo .global ul.globalKW li a {display:block; color:#555;}
#socialTwo .global ul.globalKW li a:hover {background:#3793e2; color:#FFF; font-weight:bold;}
#socialTwo .global ul.globalKW li a:hover span {background:#818e9e; border-right:1px solid #dee3ea;}
#socialTwo .global ul.globalKW li.active, #socialTwo .global ul.globalKW li.active a {background:#3793e2; color:#FFF; font-weight:bold;}
#socialTwo .global ul.globalKW li.active a span {background:#818e9e; border-right:1px solid #dee3ea;}

#socialTwo .global ul.globalKW li.active ul li a {background:#FFF; color:#555; border-bottom:1px solid #dee3ea; font-weight:normal;}
#socialTwo .global ul.globalKW li.active ul li a:hover {background:#3793e2; color:#FFF; font-weight:bold;}

#socialTwo .global ul.globalKW li ul {padding:0; margin:25px; border:1px solid #03a9f4; border-radius:3px; background:#FFF; padding:10px 15px 10px 15px;}
#socialTwo .global ul.globalKW li ul li {width:140px; height:30px; border-bottom:1px solid #ddd;}
#socialTwo .global ul.globalKW li ul li.after {border-bottom:0;}
#socialTwo .global ul.globalKW li ul li a {display:block; width:100%; height:30px; line-height:30px; color:#333; text-align:center; font-size:12px;}

.globalKW ul {position:absolute; top:7px; left:-9999px; z-index:99999999;}
.globalKW :hover ul {display:block; left:175px; top:7px; background:#fcfcfc;}

.socialArea3 {background:#3f7dcf url(../img/main/rnd_bg.png)no-repeat 0 0;}
#socialThree {position:relative; width:1200px; margin:0 auto; height:500px; padding:30px 0;}
#socialThree h3 {font-size:16px; font-weight:bold; padding:0 10px 10px 10px; color:#FFF;}
#socialThree h3 small {font-size:12px; color:#c4d3eb; margin-left:30px;}
#socialThree .kk_info {margin:30px 0 0 20px;}
#socialThree .kk_info p {color:#FFF; font-size:14px;}
#socialThree .kk_info p span {font-size:12px;}
#socialThree .kk_info p span.point {color:#fffc00; font-size:14px; font-weight:bold;}


.boardArea {background:#ecf0f5; padding:20px 0 20px 0;}
#board {position:relative; width:1200px; margin:0 auto; height:253px;}
#board .boardList {float:left; width:400px; display:inline; padding:10px 30px 30px 30px;}
#board .boardList h3 {font-size:16px; font-weight:bold; color:#1267b7;}
#board .boardList span.more {float:right;}
#board .boardList span.more a {color:#d2d2d2;}
#board .boardList ul.list {margin-top:30px;}
#board .boardList ul.list li {padding:2px 0 3px 0;}
#board .boardList ul.list li a {color:#555;}
#board .boardList ul.list li a:hover {color:#1267b7;}
#board .boardList ul.list li span.date {float:right; font-size:11px;}
#board .boardLine {border-left:1px dashed #cdcdcd;}


.footerArea {background:#2e3544; height:84px;}
#copyArea {width:1200px; color:#FFF; margin:0 auto;}
#copyArea h2 {padding:8px 30px 0px 20px; display:inline-block;}
#copyArea .copy {color:#FFF; font-size:12px; display:inline-block;}
#copyArea .copy span {margin-left:270px;}
#copyArea .top {float:right;}

.tabs-container .panel-bodyMain {border:0px;}
.tabs-container .nav-tabsMain { border-bottom:2px solid #1765b4; }
.tabs-container .nav-tabsMain > li { margin:0; background-color:#cdcdcd; text-align:center; color:#FFF; display: inline-block;}
.tabs-container .nav-tabsMain > li.active { border-left:0; border-bottom-color: transparent; background-color: #1765b4; color:#FFF; }
.tabs-container .nav-tabsMain > li a:hover {background-color: #1765b4; color:#FFF;}
.tabs-container .nav-tabsMain > li:ater { }

/* 리스크분석 모델 설명 CSS 추가 - 20181226 */
.tab-content h3 {font-size:18px; font-weight:bold; color:#003b9a;}
.tab-content p.risk {font-size:14px; line-height:160%; color:#000; letter-spacing:-1px;}
.tab-content p.risk1 {color:#000; padding-left:20px; line-height:180%; margin-top:20px;} 

.tableRisk {width:100%; border:1px solid #cdcdcd; border-top:2px solid #1c6a9e;}
.tableRisk tbody th {background:#d2eafa; padding:20px; text-align:center; font-size:16px;}
.tableRisk tbody th.two {background:#89bfe2;}
.tableRisk tbody th.three {background:#5ca3d3; color:#FFF;}
.tableRisk tbody td {padding:20px; line-height:180%; border-top:1px solid #cdcdcd; border-left:1px solid #cdcdcd;}
.tableRisk tbody td:first-child {border-top:0;}

.tableRisk2 {width:100%; border:1px solid #cdcdcd; border-top:2px solid #1c6a9e;}
.tableRisk2 thead th {background:#d2eafa; padding:10px; text-align:center; font-size:14px; border-left:1px solid #cdcdcd;}
.tableRisk2 tbody th {background:#d2eafa; padding:10px; text-align:center; font-size:14px; border-top:1px solid #cdcdcd;}
.tableRisk2 tbody td {padding:10px; line-height:180%; border-top:1px solid #cdcdcd; border-left:1px solid #cdcdcd;}
.tableRisk2 tbody td.point{background:#d9ec8f; font-weight:bold;}