/* base font */
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: normal; src: url('../fonts/NanumGothic-Regular.eot'); src: url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-Regular.woff2') format('woff2'), url('../fonts/NanumGothic-Regular.woff') format('woff'), url('../fonts/NanumGothic-Regular.ttf') format('truetype'), url('../fonts/NanumGothic-Regular.svg#NanumGothic') format('svg'); src: local(※), url('../fonts/NanumGothic-Regular.woff') format('woff'); }
@font-face { font-family: 'Nanum Gothic'; font-style: normal; font-weight: bold; src: url('../fonts/NanumGothic-Bold.eot'); src: url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-Bold.woff2') format('woff2'), url('../fonts/NanumGothic-Bold.woff') format('woff'), url('../fonts/NanumGothic-Bold.ttf') format('truetype'), url('../fonts/NanumGothic-Bold.svg#NanumGothic') format('svg'); src: local(※), url('../fonts/NanumGothic-Bold.woff') format('woff'); }

@font-face { 
font-family: 'Nanum Barun Gothic'; font-style: normal; font-weight: normal; 
src: url('../fonts/NanumBarunGothic.eot'); 
src: url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'), 
url('../fonts/NanumBarunGothic.woff2') format('woff2'), 
url('../fonts/NanumBarunGothic.woff') format('woff'), 
url('../fonts/NanumBarunGothic.ttf') format('truetype'), 
url('../fonts/NanumBarunGothic.svg#NanumBarunGothic') format('svg'); src: local(※), url('../fonts/NanumBarunGothic.woff') format('woff'); }

@font-face { 
font-family: 'Nanum Barun Gothic'; font-style: normal; font-weight: 300; 
src: url('../fonts/NanumBarunGothicLight.eot'); 
src: url('../fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'), 
url('../fonts/NanumBarunGothicLight.woff2') format('woff2'), 
url('../fonts/NanumBarunGothicLight.woff') format('woff'), 
url('../fonts/NanumBarunGothicLight.ttf') format('truetype'), 
url('../fonts/NanumBarunGothicLight.svg#NanumBarunGothicLight') format('svg'); src: local(※), url('../fonts/NanumBarunGothicLight.woff') format('woff'); }


@font-face { 
font-family: 'Nanum Barun Gothic'; font-style: normal; font-weight: 100; 
src: url('../fonts/NanumBarunGothicUltraLight.eot'); 
src: url('../fonts/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'), 
url('../fonts/NanumBarunGothicUltraLight.woff2') format('woff2'), 
url('../fonts/NanumBarunGothicUltraLight.woff') format('woff'), 
url('../fonts/NanumBarunGothicUltraLight.ttf') format('truetype'), 
url('../fonts/NanumBarunGothicUltraLight.svg#NanumBarunGothicUltraLight') format('svg'); src: local(※), url('../fonts/NanumBarunGothicUltraLight.woff') format('woff'); }


@font-face { 
font-family: 'Nanum Barun Gothic'; font-style: normal; font-weight: bold; 
src: url('../fonts/NanumBarunGothicBold.eot'); 
src: url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'), 
url('../fonts/NanumBarunGothicBold.woff2') format('woff2'), 
url('../fonts/NanumBarunGothicBold.woff') format('woff'), 
url('../fonts/NanumBarunGothicBold.ttf') format('truetype'), 
url('../fonts/NanumBarunGothicBold.svg#NanumBarunGothicBold') format('svg'); src: local(※), url('../fonts/NanumBarunGothicBold.woff') format('woff'); }
